.video {
       position: fixed;
       width: 100%;
       height: 100%;
       object-fit: cover;
       scale: 1.2;
       border-radius: 0px !important;
}
* {
       border-radius: 10px !important;
}
.border {
       box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.1);
}
body {
       background: black;
}
#desktop {
       z-index: 5;
       position: fixed;
       width: 100%;
       height: 100%;  
}

#title {
       position: absolute;
       display: flex;
       flex-direction: column;
       gap: 10px;
       top: 10px;
       left: 10px;

       .title {
              overflow: hidden;
              position: relative;
              background: var(--bgtrans);
              padding: 5px 15px;

              div {
                     position: absolute;
                     background: var(--pri);
                     top: 0px;
                     left: 0px;
                     height: 100%;
                     width: 5px;
              }
              h1 {
                     color: var(--pri);
              }
       }
       .title2 {
              overflow: hidden;
              position: relative;
              background: var(--bgtrans);
              padding: 5px 15px;
              justify-self: flex-start;

              div {
                     position: absolute;
                     background: var(--pri);
                     top: 0px;
                     left: 0px;
                     height: 100%;
                     width: 5px;
              }
              h1 {
                     color: var(--pri);
                     font-size: 25px;
              }
              h3 {
                     span {
                            opacity: 0.7;
                     }
              }
       }
}
#effects {
       overflow: hidden;
       position: absolute;
       background: transparent;
       top: 50%;
       left: 10px;
       translate: 0% -50%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: left;
       gap: 10px;

       .trans {
              overflow: hidden;
              background: var(--bgtrans);
              padding: 5px 15px;

              div {
                     position: absolute;
                     background: var(--pri);
                     top: 0px;
                     left: 0px;
                     height: 100%;
                     width: 5px;
              }
              h1 {
                     color: var(--pri);
                     font-size: 25px;
              }
              h3 {
                     span {
                            opacity: 0.7;
                     }
              }
       }
}
#chat {
       overflow: hidden;
       position: absolute;
       background: transparent;
       bottom: 10px;
       left: 10px;
       max-width: 700px;
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       align-items: left;
       gap: 10px;

       .trans {
              overflow: hidden;
              background: var(--bgtrans);
              padding: 5px 15px;

              div {
                     position: absolute;
                     background: var(--pri);
                     top: 0px;
                     left: 0px;
                     height: 100%;
                     width: 5px;
              }
              h1, h2 {
                     color: var(--txt);
                     font-size: 18px;
              }
              h2 {
                     .red {
                            color: rgb(255, 0, 0);
                     }
                     .orange {
                            color: rgb(255, 123, 0);
                     }
                     .yellow {
                            color: rgb(255, 208, 0);
                     }
                     .green {
                            color: rgb(0, 255, 21);
                     }
                     .blue {
                            color: rgb(0, 110, 255);
                     }
                     .purple {
                            color: rgb(119, 0, 255);
                     }
                     .dark {
                            color: rgb(36, 36, 36);
                     }
                     .client {
                            color: var(--pri);
                            font-weight: 900;
                     }
                     .username {
                            opacity: 0.7;
                            font-weight: 600;
                     }
              }
              h3 {
                     span {
                            opacity: 0.7;
                     }
              }
       }
} 

#hotbar {
       position: absolute;
       background: transparent;
       bottom: 10px;
       left: 50%;
       translate: -50% 0%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 5px;

       .items {
              display: grid;
              grid-template-columns: repeat(9, 75px);
              grid-template-rows: repeat(1, 75px);
              padding: 0px 0px !important;

              div {
                     img {
                            position: absolute;
                            height: 100%;
                            aspect-ratio: 1;
                            scale: 0.9;
                     }
              }

              .active {
                     background: var(--bgtrans);
              }
       }
       .healthbar {
              position: relative;
              width: 100%;
              padding: 0px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 5px;

              .health {
                     background: var(--pri2);
                     width: 100%;
                     height: 5px;

                     div {
                            background: var(--pri);
                            width: 83%;
                     }
              }
              .armor {
                     background: rgb(129, 129, 129, 0.2);
                     height: 5px;
                     width: 100%;

                     div {
                            background: rgb(129, 129, 129);
                            width: 12%;
                     }
              }
              .health, .armor {
                     display: flex;
                     align-items: center;
                     justify-content: center;

                     div {
                            height: 100%;
                     }
              }
       }
       .trans {
              overflow: auto;
              background: var(--bgtrans);
       }
} 


#arraylist {
       overflow: hidden;
       position: absolute;
       background: var(--bgtrans);
       top: 10px;
       right: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: right;
       gap: 2px;
       padding: 5px 15px;

       .combat {
              width: 23%;
       }
       .movement {
              width: 46%;
       }
       .trans {
              overflow: hidden;
              background: var(--bgtrans) !important;
       }
       .item {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: right;
              gap: 10px;

              h3 {
                     color: var(--pri);
              }
              div {
                     position: relative;
                     background: var(--pri2);
                     width: 150px;
                     height: 5px;

                     div {
                            background: var(--pri);
                     }
                     .combat {
                            width: 23%;
                     }
                     .movement {
                            width: 46%;
                     }
                     .render {
                            width: 79%;
                     }
                     .player {
                            width: 23%;
                     }
                     .exploit {
                            width: 25%;
                     }
              }
       }
}


#clickgui.inactive {
       scale: 1;
       pointer-events: none;

       .menu {
              opacity: 0;
              scale: 0.9;
              transition: 0.2s ease;
       }
       .certain {
              opacity: 0;
              scale: 1;
       }
}
#clickgui.active {
       scale: 1;
       pointer-events: auto;

       .menu {
              opacity: 1;
              scale: 1;
              transition: 0.5s cubic-bezier(.13,1.62,.59,.8);
       }
       .certain {
              opacity: 1;
       }
}
#clickgui {
       overflow: hidden;
       position: absolute;
       background: transparent;
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       transition: 0.2s;

       .certain {
              position: absolute;
              background: var(--bgtrans);
              height: 100%;
              width: 100%;
              transition: 0s;
       }
       .menu {
              position: relative;
              background: var(--bg2);
              width: 1150px;
              height: 465px;
              padding: 20px;
              display: flex;
              gap: 30px;
              transition: 0.2s cubic-bezier(.13,1.62,.59,.8);

              .sidebar {
                     background: var(--bgtrans);
                     height: 100%;
                     display: flex;
                     flex-direction: column;
                     justify-content: flex-start;
                     align-items: left;
                     gap: 5px;

                     hr {
                            border-color: var(--pri);
                            width: 100%;
                     }
                     .title {
                            margin-top: 10px;
                            margin-left: 10px;
                            margin-right: 10px;
                            color: var(--pri);
                            font-size: 32px;
                     }  
                     h2 {
                            position: relative;
                            margin-top: 0px;
                            padding: 5px 10px;
                            margin-left: 10px;
                            font-size: 20px;
                            cursor: pointer;
                            transition: 0.3s ease;

                            &:hover {
                                   color: var(--pri);

                                   div {
                                          opacity: 1; 
                                          height: 100%;
                                   }
                            }

                            div {
                                   position: absolute;
                                   background: var(--pri);
                                   opacity: 0;
                                   height: 5px;
                                   top: 50%;
                                   translate: 0% -50%;
                                   width: 5px;
                                   left: 0px;
                                   transition: 0.3s ease;
                            }
                     }
              }
              .features {
                     background: black;
                     top: 0px;
                     height: 100%;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                     gap: 5px;

                     .on {
                            position: absolute;
                            opacity: 1;
                            scale: 1;
                            left: 265px;
                            transition: 0.3s ease;
                            animation: caton 0.3s ease forwards;
                     }
                     .off {
                            position: absolute;
                            opacity: 0;
                            scale: 1;
                            left: 265px;
                            transition: 0.3s ease;
                            animation: catoff 0.3s ease forwards;
                     }

                     .home {
                            background: transparent;
                            display: grid;
                            grid-template-columns: repeat(3, 300px);
                            grid-template-rows: repeat(3, 152px);
                            gap: 5px;

                            .item {
                                   position: relative;
                                   background: var(--bgtrans);
                                   border-radius: 20px !important;

                                   &:nth-child(1) {
                                          grid-row: 1/3;
                                   }
                                   &:nth-child(4) {
                                          grid-row: 2/4;
                                          grid-column: 2/4;
                                   }

                                   h1 {
                                          color: var(--pri);
                                          padding: 0px 30px;
                                          margin-top: 10px;
                                   }
                                   hr {
                                          margin-top: 10px;
                                          opacity: 0.2;
                                   }
                                   h2 {
                                          margin-top: 10px;
                                          font-size: 17px;
                                          padding: 0px 30px;
                                   }
                            }
                            .news {
                                   background: var(--pri2);
                                   h1 {
                                          position: absolute;
                                          top: 0px;
                                   }
                                   h2 {
                                          position: absolute;
                                          bottom: 20px;
                                   }
                                   img {
                                          position: absolute;
                                          transform: scaleX(-1);
                                          opacity: 0.2;
                                          height: 100%;
                                          right: 0px;
                                   }
                            }
                     }

                     .modules {
                            background: transparent;
                            display: flex;
                            width: 915px;
                            height: 465px;
                            gap: 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: top;
                            align-items: center;
                            gap: 5px;

                            .category {
                                   position: relative;
                                   background: var(--bgtrans);
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   gap: 5px;
                                   cursor: pointer;

                                   h2 {
                                          position: relative;
                                          padding: 10px 20px;
                                          transition: 0.2s ease;

                                          div {
                                                 position: absolute;
                                                 background: var(--pri);
                                                 opacity: 0;
                                                 bottom: 0px;
                                                 height: 5px;
                                                 width: 25%;
                                                 left: 50%;
                                                 translate: -50% 0%;
                                                 transition: 0.2s ease;
                                          }
                                          &:hover {
                                                 color: var(--pri);

                                                 div {
                                                        opacity: 1;
                                                        width: 50%;
                                                 }
                                          }
                                   }
                            }
                            .car {
                                   position: relative;
                                   background: transparent;
                                   width: 100%;
                                   flex-grow: 1; 
                                   display: flex;
                                   justify-content: left;
                                   align-items: center;
                                   overflow: hidden;
                                   gap: 15px;

                                   .item {
                                          position: relative;
                                          background: var(--bgtrans); 
                                          height: 100%;  
                                          padding: 0px 20px;
                                          gap: 10px;
                                          overflow: hidden;

                                          .switchdasisoff {
                                                 height: 0px;
                                          }
                                          .switchdasison {
                                                 height: 40px;
                                          }
                                          .decor {
                                                 position: absolute;
                                                 background: var(--pri);
                                                 width: 100%;
                                                 top: 0px;
                                                 left: 0px;
                                                 filter: blur(2vmax);
                                                 z-index: 0;
                                                 transition: 0.3s ease;
                                          }
                                          
                                          .title {
                                                 position: relative;
                                                 display: flex;
                                                 align-items: center;
                                                 gap: 10px;
                                                 margin-top: 10px;
                                                 z-index: 1;

                                                 .switchisoff {
                                                        color: var(--txt);
                                                 }
                                                 .switchison {
                                                        color: var(--pri);
                                                 }
                                                 h1 {
                                                        transition: 0.2s ease;
                                                 }
                                                 hr {
                                                        flex-grow: 1;
                                                        border-style: dashed;
                                                        opacity: 0.3;
                                                 }
                                                 div {
                                                        font-family: comfortaa,sans-serif;
                                                        background: var(--bgtrans);
                                                        color: var(--bg2);
                                                        padding-right: 10px;
                                                        display: flex;
                                                        flex-direction: row;
                                                        align-items: center;
                                                        justify-content: center;
                                                        gap: 5px;

                                                        .switchoff {
                                                               background: var(--txt);
                                                        }
                                                        .switchon {
                                                               background: var(--pri);
                                                        }
                                                        h2 {
                                                               font-size: 20px;
                                                               text-align: center;
                                                               color: var(--bg2);
                                                               height: 100%;
                                                               width: 40px;
                                                               padding: 5px 10px;
                                                               cursor: pointer;
                                                               transition: 0.2s ease;

                                                               &:hover {
                                                                      background: var(--pri);
                                                               }
                                                        }
                                                        h3 {
                                                               font-size: 15px;
                                                               opacity: 0.7;
                                                               transition: 0.3s ease;
                                                               cursor: pointer;

                                                               &:hover {
                                                                      opacity: 1;
                                                               }
                                                        }
                                                 }
                                          }
                                          .content {
                                                 position: relative;
                                                 background: transparent;
                                                 margin-top: 15px;
                                                 margin-bottom: 10px;
                                                 max-width: 600px;
                                                 display: flex;
                                                 flex-direction: column;
                                                 justify-content: left;
                                                 align-items: flex-start;
                                                 gap: 5px;
                                                 overflow-x: hidden;
                                                 z-index: 1;

                                                 h3 {
                                                        margin-top: 5px;
                                                        font-weight: 400;
                                                        opacity: 0.6;

                                                        span {
                                                               color: var(--pri);
                                                               opacity: 1;
                                                        }
                                                 }

                                                 div {
                                                        min-width: 100%;
                                                        display: flex;
                                                        justify-content: left;
                                                        align-items: center;
                                                        flex-wrap: wrap;
                                                        gap: 5px;

                                                        h2 {
                                                               padding: 5px 10px;
                                                               font-size: 20px;
                                                               background: var(--bgtrans);
                                                               cursor: pointer;
                                                               transition: 0.2s ease;

                                                               &:hover {
                                                                      color: var(--pri);
                                                               }
                                                        }
                                                        input[type="range"] {
                                                               position: relative;
                                                               width: 100%;
                                                               background-color: transparent;
                                                               outline: none;
                                                               overflow: hidden;
                                                               cursor: pointer;
                                                               appearance: none; /* Remove default appearance */
                                                 
                                                               &::-webkit-slider-runnable-track {
                                                                      overflow: hidden;
                                                                      height: 10px; /* Adjust track height */
                                                                      background-color: rgb(30, 30, 30); /* Set track color */
                                                                      border-radius: 1vmax;
                                                               }
                                                               &::-webkit-slider-thumb {
                                                                      appearance: none; /* Remove default appearance */
                                                                      border: none; /* Remove border */
                                                                      aspect-ratio: 1;
                                                                      translate: 0% -25%;
                                                                      width: 25px; /* Adjust handle width */
                                                                      background-color: var(--pri); /* Set handle color */
                                                                      box-shadow: -500px 0 0 500px var(--pri2);
                                                               }
                                                        }
                                                 }
                                          }
                                   }
                            }
                     }
              }
              .profile {
                     position: absolute;
                     width: 100%;
                     height: 75px;
                     background: var(--bg2);
                     top: calc(100% + 10px);
                     left: 0px;
                     display: flex;
                     justify-content: space-between;
                     align-items: center;

                     .music {
                            position: relative;
                            background: transparent;
                            height: 100%;
                            display: flex;
                            align-items: center;

                            .name {
                                   position: relative;
                                   padding: 0px 20px;
                                   max-width: 700px;
                                   min-width: 300px;
                                   display: flex;
                                   background: var(--bgtrans);
                                   height: 100%;
                                   flex-direction: column;
                                   justify-content: center;
                                   overflow: hidden;


                                   .visualizer {
                                          position: absolute;
                                          width: 100%;
                                          height: 100%;
                                          left: 0px;
                                          opacity: 1;
                                          filter: blur(0.2vmax);
                                          background: transparent;
                                          z-index: 0;
                                          display: grid;
                                          grid-template-rows: repeat(1, 100%);
                                          grid-template-columns: repeat(10, 10%);
                                          overflow: hidden;
                                          align-items: end;
                                          

                                          div {
                                                 background: var(--pri);
                                                 height: 50%;
                                                 border-radius: 5px !important;
                                                 animation: visualizer 3s ease-in-out infinite;

                                                 &:nth-child(1) {
                                                        animation-duration: 2s;
                                                        animation-delay: 0.2s;
                                                 }
                                                 &:nth-child(2) {
                                                        animation-duration: 1.6s;
                                                        animation-delay: 0.4s;
                                                 }
                                                 &:nth-child(3) {
                                                        animation-duration: 2.3s;
                                                        animation-delay: 0.1s;
                                                 }
                                                 &:nth-child(4) {
                                                        animation-duration: 1.2s;
                                                        animation-delay: 0.6s;
                                                 }
                                                 &:nth-child(5) {
                                                        animation-duration: 1.2s;
                                                        animation-delay: 0.2s;
                                                 }
                                                 &:nth-child(6) {
                                                        animation-duration: 2.1s;
                                                        animation-delay: 0.5s;
                                                 }
                                                 &:nth-child(7) {
                                                        animation-duration: 2.3s;
                                                        animation-delay: 0.2s;
                                                 }
                                                 &:nth-child(8) {
                                                        animation-duration: 2.8s;
                                                        animation-delay: 0.7s;
                                                 }
                                                 &:nth-child(9) {
                                                        animation-duration: 0.9s;
                                                        animation-delay: 1.2s;
                                                 }
                                                 &:nth-child(10) {
                                                        animation-duration: 1.7s;
                                                        animation-delay: 0.9s;
                                                 }
                                          }
                                   }
                                   h1 {
                                          color: var(--pri);
                                          font-size: 30px;
                                          z-index: 1;
                                   }
                                   h2 {
                                          font-size: 15px;
                                          z-index: 1;
                                   }
                            }
                            .controls {
                                   padding: 0px 20px;
                                   display: flex;
                                   gap: 0px;

                                   span {
                                          padding: 5px;
                                          opacity: 0.5;
                                          cursor: pointer;
                                          transition: 0.1s ease;

                                          &:hover {
                                                 background: var(--pri2);
                                                 color: var(--pri);
                                                 opacity: 1;
                                          }
                                   }
                            }
                     }
                     .account {
                            position: relative;
                            background: var(--bgtrans);
                            padding-left: 20px;
                            height: 100%;
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: center;
                            gap: 20px;

                            img {
                                   height: 100%;
                                   aspect-ratio: 1;
                                   opacity: 0.5;
                            }
                            .name {
                                   position: relative;
                                   display: flex;
                                   background: transparent;
                                   height: 100%;
                                   flex-direction: column;
                                   justify-content: center;
                                   align-items: flex-end;
                                   overflow: hidden;

                                   h1 {
                                          color: var(--pri);
                                          font-size: 30px;
                                          z-index: 1;
                                          text-align: right;
                                   }
                                   h2 {
                                          font-size: 15px;
                                          z-index: 1;
                                          text-align: right;
                                   }
                            }
                     }
              }
       }
}
