html {
       overflow: hidden;
}
::selection {
       color: inherit; /* Change the text color */
       background-color: transparent; /* Change the background color */
}


*::-webkit-scrollbar {
       width: 0px; /* Adjust width as desired */
       display: none;
}
     
     *::-webkit-scrollbar-track {
       background: transparent; /* Customize track background color */
       border-radius: 0px; /* Add rounded corners */
     }
     
     *::-webkit-scrollbar-thumb {
       background: var(--pri2); /* Customize thumb color */
       border-radius: 0px; /* Add rounded corners */
       transition: all 0.25s ease;
     }
     *::-webkit-scrollbar-thumb:hover {
       background: var(--pri); /* Customize thumb color */
       border-radius: 0px; /* Add rounded corners */
     }

     ::selection {
       color: black; /* Change the text color */
       background-color: var(--pri); /* Change the background color */
     }

body {
       display: flex;
       flex-direction: row;
       .background {
              position: absolute;
              height: 100%;
              width: 100%;
              object-fit: cover;
              opacity: 0.5;
              scale: 2;

              animation: bg 30s ease-in-out infinite;
       }
}
.mbutton {
       transition: 0.2s ease;
       cursor: pointer;
       div {
              position: absolute;
              background: var(--pri);
              height: 2px;
              opacity: 0;
              width: 25%;
              bottom: 0px;
              left: 50%;
              translate: -50% 0%;
              transition: 0.3s ease;
       }
       &:hover {
              color: var(--pri);

              div {
                     opacity: 1;
                     width: 50%;
              }
       }
}
@keyframes bg {
       from {
              translate: -10% 0%;
       }
       50% {
              translate: 10% 0%;
       }
       to {
              translate: -10% 0%;
       }
}
@keyframes notification {
       from {
              translate: 150% 0%;
       }
       20% {
              translate: 0% 0%;
       }
       80% {
              translate: 0% 0%;
       }
       to {
              translate: 150% 0%;
       }
}
.sep {
       background: var(--bgtrans);
       margin-top: 10px;
       margin-bottom: 10px;
       width: 95%;
       height: 5px;
}

#watermark {
       font-size: 15px;
       opacity: 0.5;
}
#changelog {
       position: absolute;
       padding: 10px 20px;
       background: var(--bgtrans);
       bottom: 5px;
       font-size: 15px;
       cursor: pointer;
       left: 5px;
}
#mainmenu {
       position: relative;
       background: var(--bgtrans);
       box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.05);
       padding: 20px 50px;

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 10px;

       .title {
              color: var(--pri);
              font-size: 60px;
       }
       h2 {
              position: relative;
              text-align: center;
              background: var(--bgtrans);
              padding: 10px 20px;
              width: 100%;
              cursor: pointer;
              color: var(--txt);
              transition: 0.2s ease;
              
              &:hover {
                     color: var(--pri);

                     div {
                            opacity: 1;
                            width: 50%;
                     }
              }
       }
}

.off {
       position: absolute;
       opacity: 0;
       margin-right: 525px;
       scale: 0.9;
       filter: blur(0.2vmax);
       transition: 0.3s ease 0s;
       pointer-events: none;
}
.on {
       position: absolute;
       opacity: 1;
       scale: 1;
       margin-right: 525px;
       transition: 0.3s ease 0.1s; 
       pointer-events: auto;  
}
.skibidi {
       margin-left: 1200px;
       transition: 0.2s ease;  
}
.not-skibidi {
       margin-left: 0px;
       transition: 0.2s ease;  
}

#notification {
       position: absolute;
       padding: 20px;
       background: var(--bgtrans);
       overflow: hidden;
       top: 10px;
       right: 10px;
       translate: 150% 0%;

       div {
              position: absolute;
              background: var(--pri);
              height: 100%;
              width: 5px;
              left: 0px;
              top: 0px;
       }
       h1 {
              color: var(--pri);
       }
       h2 {
              font-size: 20px;
       }
}
#singleplayer, #multiplayer {
       box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.05);
       background: var(--bgtrans);
       width: 1200px;
       height: 675px;
       display: auto;

       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       gap: 5px;

       .title {
              position: relative;
              background: transparent;
              padding: 10px;
              width: 95%;

              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              margin-top: 10px;

              h1 {
                     color: var(--pri);  
              }
              h2 {
                     translate: 0% 10%;
                     background: var(--bgtrans);
                     padding: 10px 20px;
              }
       }
       .title2 {
              position: absolute;
              background: transparent;
              padding: 10px;

              display: grid;
              grid-template-columns: repeat(2, 550px);
              grid-template-rows: repeat(1, 75px);
              gap: 10px;
              bottom: 10px;

              div {
                     position: relative;
                     text-align: center;
                     background: var(--bgtrans);
                     cursor: pointer;
                     color: var(--txt);
                     transition: 0.2s ease;
                     display: flex;
                     justify-content: center;
                     align-items: center;

                     div {
                            position: absolute;
                            background: var(--pri);
                            height: 2px;
                            opacity: 0;
                            width: 25%;
                            bottom: 0px;
                            left: 50%;
                            translate: -50% 0%;
                            transition: 0.3s ease;
                     }
                     &:hover {
                            color: var(--pri);
              
                            div {
                                   opacity: 1;
                                   width: 50%;
                            }
                            h1 {
                                   color: var(--pri)
                            }
                     }
                     h1 {
                            background: transparent;
                            transition: 0.2s ease;
                     }
              }
       }
       .selector {
              position: relative;
              background: transparent;
              padding: 10px;
              width: 95%;
              height: 390px;

              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;
              margin-top: 10px;
              overflow-x: hidden;

              .world {
                     position: relative;
                     box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.05);
                     background: var(--bgtrans);
                     min-height: 150px;
                     width: 100%;
                     opacity: 0.8;
                     display: flex;
                     align-items: center;
                     cursor: pointer;
                     transition: 0.3s ease;

                     &:hover {
                            scale: 1.02;
                            opacity: 1;
                            box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.05),
                                   0px 10px 15px 2px rgba(0,0,0,0.5);
                            .info {
                                   h1 {
                                          color: var(--pri);
                                   }
                            }
                     }

                     .info {
                            background: transparent;
                            margin-left: 175px;

                            h1 {
                                   transition: 0.3s ease;
                            }
                            h2 {
                                   font-size: 20px;
                                   opacity: 0.7;
                            }
                     }

                     .selicon {
                            position: absolute;
                            background: var(--bgtrans);
                            height: 100%;
                            aspect-ratio: 1;

                            img {
                                   height: 100%;
                                   aspect-ratio: 1;
                                   scale: 1;
                            }
                     }
              }
       }
}
#settings {
       box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.05);
       background: var(--bgtrans);
       width: 1200px;
       height: 675px;
       display: auto;

       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       gap: 5px;

       .title {
              position: relative;
              background: transparent;
              padding: 10px;
              width: 95%;

              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              margin-top: 10px;

              h1 {
                     color: var(--pri);  
              }
              h2 {
                     translate: 0% 10%;
                     background: var(--bgtrans);
                     padding: 10px 20px;
              }
       }
       .selector {
              position: relative;
              background: transparent;
              width: 95%;
              height: 550px;

              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
              overflow-x: hidden;

              .category {
                     position: relative;
                     box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.05);
                     background: var(--bgtrans);
                     padding: 20px 0px;
                     width: 100%;
                     display: flex;
                     justify-content: center;
                     flex-direction: column;
                     align-items: center;
                     gap: 10px;

                     .option {
                            position: relative;
                            background: var(--bgtrans);
                            width: calc(100% - 80px);
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            h2 {
                                   padding-right: 20px;

                                   span {
                                          color: var(--pri)
                                   }
                            }
                            h3 {
                                   padding-left: 20px;  
                            }
                            input[type="range"] {
                                   position: relative;
                                   flex-grow: 1;
                                   background-color: transparent;
                                   outline: none;
                                   overflow: hidden;
                                   cursor: pointer;
                                   appearance: none; /* Remove default appearance */
                     
                                   &::-webkit-slider-runnable-track {
                                          overflow: hidden;
                                          height: 10px; /* Adjust track height */
                                          background-color: rgb(30, 30, 30); /* Set track color */
                                          border-radius: 1vmax;
                                   }
                                   &::-webkit-slider-thumb {
                                          appearance: none; /* Remove default appearance */
                                          border: none; /* Remove border */
                                          aspect-ratio: 1;
                                          translate: 0% -25%;
                                          width: 25px; /* Adjust handle width */
                                          background-color: var(--pri); /* Set handle color */
                                          box-shadow: -500px 0 0 500px var(--pri2);
                                   }
                            }
                     }

                     .cattitle {
                            background: transparent;
                            width: calc(100% - 50px);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            h1 {
                                   opacity: 0.5;
                                   font-size: 20px;
                                   padding-right: 30px;
                            }
                            hr {
                                   flex-grow: 1;
                                   opacity: 0.1;
                                   border-style: dashed;
                            }
                     }
              }
       }
}
#accounts {
       box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.05);
       background: var(--bgtrans);
       width: 1200px;
       height: 675px;
       display: auto;

       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       gap: 5px;

       .title {
              position: relative;
              background: transparent;
              padding: 10px;
              width: 95%;

              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              margin-top: 10px;

              h1 {
                     color: var(--pri);  
              }
              h2 {
                     translate: 0% 10%;
                     background: var(--bgtrans);
                     padding: 10px 20px;
              }
       }
       .selector {
              position: relative;
              background: transparent;
              height: 65%;

              display: grid;
              grid-template-columns: repeat(6, 175px);
              grid-template-rows: repeat(2, 240px);
              gap: 10px;

              div {
                     background: var(--bgtrans);
                     position: relative;
                     transition: 0.3s ease;
                     cursor: pointer;

                     &:hover {
                            scale: 1.02;
                            opacity: 1;
                            box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.05),
                                   0px 10px 15px 2px rgba(0,0,0,0.5);
                            img {
                                   opacity: 0.8;
                            }
                            h2 {
                                   color: var(--pri);
                            }
                     }

                     img {
                            width: 100%;
                            opacity: 0.5;
                            transition: 0.3s ease;
                     }
                     h2 {
                            text-align: center;
                            transition: 0.3s ease;
                     }
                     h3 {
                            text-align: center;
                            opacity: 0.5;
                     }
              }
       }
       .title2 {
              position: absolute;
              background: transparent;
              padding: 10px;

              display: grid;
              grid-template-columns: repeat(3, 380px);
              grid-template-rows: repeat(1, 75px);
              gap: 10px;
              bottom: 10px;

              input {
                     background: var(--bgtrans);
                     padding: 0px 20px;
                     border: 0;
                     font-size: 25px;
                     font-family: comfortaa,sans-serif;
                     color: var(--pri);

                     &:focus {
                            outline: 0;
                     }
              }

              div {
                     position: relative;
                     text-align: center;
                     background: var(--bgtrans);
                     cursor: pointer;
                     color: var(--txt);
                     transition: 0.2s ease;
                     display: flex;
                     justify-content: center;
                     align-items: center;

                     div {
                            position: absolute;
                            background: var(--pri);
                            height: 2px;
                            opacity: 0;
                            width: 25%;
                            bottom: 0px;
                            left: 50%;
                            translate: -50% 0%;
                            transition: 0.3s ease;
                     }
                     &:hover {
                            color: var(--pri);
              
                            div {
                                   opacity: 1;
                                   width: 50%;
                            }
                            h1 {
                                   color: var(--pri)
                            }
                     }
                     h1 {
                            background: transparent;
                            transition: 0.2s ease;
                     }
              }
       }
}