@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
       /* Backgrounds */
       --bg: rgba(11, 11, 13, 1);
       --bg2: rgba(21, 21, 23, 1);
       --bgtrans: rgba(0, 0, 0, 0.2);
       --bgtrans2: rgba(255, 255, 255, 0.1);

       /* Text */
       --txt: rgb(236, 241, 233);

       /* Colors */
       --pri: rgb(255, 255, 255);
       --pri2: rgba(255, 255, 255, 0.2);
}
html {
       touch-action: manipulation;
       background: var(--bg);
}
* {
       margin: 0;
       min-width: 0;
       padding: 0;
       border-radius: 10px;
}
a {
       text-decoration: none;
       color: inherit;
}

body {
       color: var(--txt);
       background: var(--bg);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 30px;
       min-height: 100svh;
       overflow: hidden;
}

h1, h2, h3, h4, h5, p, div {
       font-family: fredoka,sans-serif;
       color: var(--txt);
       font-weight: 500;
}
h2 {
       font-family: fredoka,sans-serif;
       font-weight: 400;
       line-height: 1.5;
}

.trans {
       -webkit-backdrop-filter: blur(0.75vmax);
       backdrop-filter: blur(0.75vmax);
       
       &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0px;
              left: 0px;
              -webkit-backdrop-filter: blur(0.75vmax);
              backdrop-filter: blur(0.75vmax);
              border-radius: 10px;
              z-index: -1;
              justify-self: center;
              align-self: center;
              scale: 1;
       }
}
.border {
       box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.1);
}

/* Target WebKit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
       width: 10px; /* Adjust width as desired */
}  
*::-webkit-scrollbar-track {
       background: transparent; /* Customize track background color */
       border-radius: 10px; /* Add rounded corners */
}
*::-webkit-scrollbar-thumb {
       background: var(--pri2); /* Customize thumb color */
       border-radius: 10px; /* Add rounded corners */
       transition: all 0.25s ease;
}
*::-webkit-scrollbar-thumb:hover {
       background: var(--pri); /* Customize thumb color */
       border-radius: 10px; /* Add rounded corners */
}
::selection {
       color: black; /* Change the text color */
       background-color: var(--pri); /* Change the background color */
}

.screen {
       transition: all 0.3s ease, scale 0.3s cubic-bezier(.26,1.61,0.2,2);
       pointer-events: none !important;

       &.active {
              pointer-events: auto;
              scale: 1;   
       }
       &.inactive {
              pointer-events: none !important;
              opacity: 0;
              scale: 1.1;    
       }
}

.button {
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
       cursor: pointer;
       
       &:hover {
              span {
                     color: black;
              }
              &:before {
                     scale: 1.28;
              }
       }
       span {
              font-size: 25px;
              scale: 1;
              transition: 0.3s ease;
       }
       &:before {
              position: absolute;
              background: var(--pri);
              height: 100%;
              width: 100%;
              content: '';
              border-radius: 50%;
              scale: 0;
              transition: 0.3s cubic-bezier(.88,0,.11,.99) 0.05s;
       }
}

.window-active, .window-inactive {
       transition: all 0.3s ease, scale 0.3s cubic-bezier(.26,1.61,0.2,2);
}
.window-active {
       pointer-events: auto;
       opacity: 1;
       scale: 1;
}
.window-inactive {
       pointer-events: none !important;
       opacity: 0;
       scale: 1.05;
}
