@keyframes spotify_rotate {
       from {
              rotate: 0deg;
       }
       to {
              rotate: 360deg;
       }
}
@keyframes focus_application {
       from {
              scale: 1;
       }
       50% {
              scale: 1.01;
       }
       to {
              scale: 1;
       }
}