#wallpaper {
       position: fixed;
       width: 100%;
       height: 100%;
       object-fit: cover;
       border-radius: 0px;
}

#joe_biden, #trump {
       position: fixed;
       width: 800px;
       aspect-ratio: 1;
       opacity: 0;
       pointer-events: none;

       img {
              height: 100%;
              width: 100%;
       }

       &.biden {
              animation: biden 2s linear 0.3s;
       }
}
@keyframes biden {
       from {
              scale: 1;
              opacity: 1;
       }
       to {
              scale: 0.7;
              opacity: 0;
       }
}

#quick_menu {
       position: absolute;
       z-index: 999;
       background: var(--bgtrans);
       overflow: hidden;
       min-width: 150px;
       padding: 5px;
       scale: 0.9;
       opacity: 0;
       pointer-events: none;
       transition: scale 0.2s ease, opacity 0.2s ease;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       gap: 0px;

       &.show {
              scale: 1;
              opacity: 1;
              pointer-events: auto;
       }
       h2 {
              position: relative;
              display: flex;
              background: transparent;
              justify-content: flex-start;
              align-items: center;
              width: calc(100% - 10px);
              border-radius: 5px;
              gap: 5px;
              padding: 2.5px 5px;
              font-size: 15px;
              cursor: pointer;

              &:hover {
                     background: var(--bgtrans2);
                     span {
                            color: var(--pri);
                            opacity: 1;
                     }
              }
              span {
                     font-size: 15px;
                     opacity: 0.5;
                     transition: 0.2s ease;
              }
       }
       hr {
              width: calc(100% - 50px);
              border-color: var(--bgtrans2);
              margin-top: 2px;
              margin-bottom: 2px;
       }
}

#panel {
       position: absolute;
       height: 30px;
       padding: 0px;
       width: calc(100% - 6px);
       top: 3px;
       display: flex;
       justify-content: space-between;
       align-items: center;

       .item {
              height: 100%;
              position: relative;
              display: flex;
              gap: 5px;

              &:nth-child(1) {
                     .active, .inactive {
                            background: var(--bgtrans);
                            padding: 0px 13px;
                            position: relative;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            transition: 0.2s ease;
                            border-radius: 5px;

                            &:hover {
                                   background: var(--bgtrans2);
                            }
                     }
                     div.active {
                            div {
                                   background: var(--pri);
                                   height: 5px;
                                   width: 50px;

                            }
                     }
                     div.inactive {
                            div {
                                   background: var(--txt2);
                                   height: 5px;
                                   width: 5px;
                            }
                     }
              }
              &:nth-child(2) {
                     flex-direction: row-reverse;

                     h3 {
                            color: var(--txt2);
                     }
              }
              h3 {
                     background: var(--bgtrans);
                     font-size: 15px;
                     padding: 0px 10px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     height: 100%;
                     gap: 5px;
                     border-radius: 5px;

                     span {
                            font-size: 15px;
                            translate: 0% 0%;
                            color: var(--pri);

                            &#timeanddate, &#ram, &#volume {
                                   color: var(--txt2);
                            }
                     }
                     &.skibidi {
                            padding: 0px 10px;
                            cursor: pointer;
                            transition: 0.2s ease;

                            span {
                                   color: var(--txt2);
                            }

                            &:hover {
                                   background: var(--bgtrans2);
                                   
                                   span {
                                          color: var(--pri);
                                   }
                            }
                     }
              }
       }
}

.application {
       position: absolute;
       background: var(--bgtrans);
       width: 900px;
       height: 500px;
       display: flex;
       box-shadow: 0px 0px 20px 0px black;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       z-index: 10;

       &.focus {
              animation: focus_application 0.5s ease-in-out;
              z-index: 11;
       }
       &.inactive {
              scale: 1.05;
              opacity: 0;
              filter: blur(0.3vmax);
              pointer-events: none;
              transition: scale 0.2s ease, opacity 0.2s ease 0s, filter 0.1s ease;
       }
       &.active {
              scale: 1;
              opacity: 1;
              filter: blur(0vmax);
              transition: scale 0.2s ease, opacity 0.2s ease 0s, filter 0.1s ease;
       }

       .title {
              width: calc(100% - 10px);
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0px 10px;
              height: 30px;
              padding: 3px;

              h3 {
                     margin-left: 10px;
              }
              .draggable {
                     height: 100%;
                     flex-grow: 1;
                     background: transparent;
              }
       }
       .control {
              display: flex;
              gap: 0px;

              span {
                     padding: 3px 9px;
                     background: transparent;
                     cursor: pointer;
                     transition: 0.2s ease;

                     &:hover {
                            background: var(--bgtrans2);
                     }
              }
       }
       .main {
              position: relative;
              background: var(--bg);
              width: 100%;
              flex-grow: 1;
       }
}
