#arena {
       position: absolute;
       z-index: 1;
       background: transparent;
       width: 120%;
       height: 120%;

       .ground {
              position: absolute;
              width: 100%;
              height: 5px;
              bottom: 400px;
       }
}
.standable {
       box-shadow: inset 0px 0px 0px 2px white;
}