.section {
       position: relative;
       background: transparent;
       height: 50svh;
       width: 100%;

       display: flex;
       justify-content: center;
       align-items: center;
}
#sec1 {
       margin-bottom: 18vmax;

       #sec1dec {
              position: relative;
              background: darkred;
              border-radius: 4vmax;
              padding: 1.5vmax;
              overflow: hidden;

              display: grid;
              grid-template-rows: repeat(2, 11vmax);
              grid-template-columns: repeat(4, 22.75vmax);
              gap: 1vmax;

              img {
                     position: absolute;
                     height: 100%;
                     width: 100%;
                     object-fit: cover;
                     scale: 1.25;
                     filter: blur(0.02vmax);
              }

              .sec1grid {
                     position: relative;
                     background: var(--bgtrans);
                     border-radius: 3vmax;
                     transition: all 0.3s ease;

                     &:hover {
                            scale: 1.03;
                            border-radius: 2.5vmax;
                            background: var(--bg2);
                     }
              }
              .sec1grid:nth-child(2) {
                     grid-column: 1;
                     grid-row: 1 / 3;
              }
       }
}