@keyframes color_bg {
       from {
              background: var(--pri);
       }
       50% {
              background: var(--sec);
       }
       to {
              background: var(--pri);
       }
}
@keyframes color_bg2 {
       from {
              background: var(--pri2);
       }
       50% {
              background: var(--sec2);
       }
       to {
              background: var(--pri2);
       }
}
@keyframes color_txt {
       from {
              color: var(--pri);
       }
       50% {
              color: var(--sec);
       }
       to {
              color: var(--pri);
       }
}
@keyframes color_bg-txt {
       from {
              background: var(--pri2);
              color: var(--pri);
       }
       50% {
              background: var(--sec2);
              color: var(--sec);
       }
       to {
              background: var(--pri2);
              color: var(--pri);
       }
}