#title {
       position: absolute;
       background: transparent;
       top: 20px;
       left: 20px;
       min-width: 220px;
       display: flex;
       flex-direction: column;
       gap: 5px;

       .title {
              position: relative;
              width: calc(100% - 20px);
              background: transparent;
              padding-left: 10px;
              padding: 3px 10px;
       }

       #ses-info {
              position: relative;
              padding-top: 3px;
              padding-bottom: 3px;
              background: var(--bgtrans);

              .item {
                     display: flex;
                     justify-content: space-between;
                     align-items: center;

                     h2 {
                            font-size: 13px;
                            margin-left: 10px;
                            margin-right: 10px;
                     }
                     h3 {
                            font-size: 15px;
                            margin-left: 10px;
                            margin-right: 10px;  
                     }
              }
       }
       #tabgui {
              position: relative;
              display: flex;
              flex-direction: column;
              padding-top: 3px;
              padding-bottom: 3px;
              background: var(--bgtrans);

              h2 {
                     position: relative;
                     font-size: 17px;
                     margin-left: 10px;
                     display: flex;
                     align-items: center;

                     &.color_txt {
                            margin-left: 20px;

                            div {
                                   margin-left: -10px;
                            }
                     }
                     div {
                            position: absolute;
                            height: 50%;
                            width: 5px;
                            background: white;
                            translate: 0% 5%;
                            margin-left: 0px;
                     }
              }
       }
}

#scoreboard {
       position: absolute;
       background: var(--bgtrans);
       left: 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       max-width: 300px;
       gap: 5px;
       padding-bottom: 10px;
       padding-right: 10px;

       .title {
              position: relative;
              width: calc(100% - 10px);
              font-size: 20px;
              background: transparent;
              margin-left: 0px;
              margin-bottom: 5px;
              padding: 3px 10px;
       }
       h2 {
              margin-left: 10px;
              font-size: 15px;
              line-height: 15px;
       }
       div {
              display: flex;
              width: 100%;
              justify-content: flex-start;
              align-items: center;

              &.true {
                     justify-content: space-between;
              }
       }
       .red {
              color: rgb(253, 32, 32);
       }
       .green {
              color: rgb(32, 253, 43);
       }
}

#hotbar {
       position: absolute;
       bottom: 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 10px;

       .health {
              position: relative;
              display: grid;
              background: transparent;
              grid-template-columns: repeat(2, 220px);
              grid-template-rows: repeat(1, 20px);
              gap: 5px;

              .item {
                     background: black;
                     position: relative;
                     height: 100%;
                     width: 100%;

                     &.health {
                            background: rgb(53, 4, 4);

                            .health-fill {
                                   background:rgb(253, 32, 32);
                                   width: 90%;
                                   display: flex;
                                   justify-content: flex-start;
                                   align-items: center;

                                   span {
                                          font-size: 15px;
                                          margin-left: 5px;
                                   }
                            }

                            .armor {
                                   position: absolute;
                                   bottom: calc(100% + 3px);
                                   height: 10px;
                                   background:rgb(59, 59, 59);

                                   .armor-fill {
                                          background:rgb(182, 182, 182);
                                          width: 72%;
                                          height: 100%;
                                   }
                            }
                     }
                     &.food {
                            background: rgb(73, 44, 20);

                            .food-fill {
                                   background:rgb(252, 152, 70);
                                   height: 100%;
                                   width: 50%;
                                   display: flex;
                                   justify-content: flex-start;
                                   align-items: center;

                                   span {
                                          font-size: 15px;
                                          margin-left: 5px;
                                   }
                            }
                     }
              }
       }
       .bar {
              position: relative;
              display: grid;
              background: var(--bgtrans);
              grid-template-columns: repeat(9, 50px);
              grid-template-rows: repeat(1, 50px);
       }
}