.video {
       position: fixed;
       width: 100%;
       height: 100%;
       object-fit: cover;
       scale: 1;
       border-radius: 0px !important;
       z-index: 0;
}
* {
       border-radius: 10px !important;
}
.border {
       box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0);
}
body {
       background: black;
}
.element {
       z-index: 1;
}
.coloredtxt {
       animation: coloredtxt 5s ease-in-out infinite;
}
.colored {
       animation: colored 5s ease-in-out infinite;
}
.coloredtrans {
       animation: coloredtrans 5s ease-in-out infinite;
}
.coloredboth {
       animation: coloredboth 5s ease-in-out infinite;
}
@keyframes coloredtxt {
       from {
              color: var(--pri);
       }
       50% {
              color: var(--sec);
       }
       to {
              color: var(--pri);
       }
}
@keyframes colored {
       from {
              background: var(--pri);
       }
       50% {
              background: var(--sec);
       }
       to {
              background: var(--pri);
       }
}
@keyframes coloredtrans {
       from {
              background: var(--pri2);
       }
       50% {
              background: var(--sec2);
       }
       to {
              background: var(--pri2);
       }
}
@keyframes coloredboth {
       from {
              background: var(--pri2);
              color: var(--pri);
       }
       50% {
              background: var(--sec2);
              color: var(--sec);
       }
       to {
              background: var(--pri2);
              color: var(--pri);
       }
}
@keyframes clickgui-active {
       from {
              translate: -2% 0%;
              opacity: 0;
       }
       to {
              translate: 0% 0%;
              opacity: 1;
       }
}
@keyframes clickgui-inactive {
       from {
              translate: 0% 0%;
              opacity: 1;
       }
       to {
              translate: 2% 0%;
              opacity: 0;
       }
}

#title {
       position: absolute;
       background: transparent;
       top: 20px;
       left: 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       gap: 5px;

       .title {
              width: calc(100% - 20px);
              padding: 3px 10px;
              font-size: 40px;
              display: flex;
              align-items: center;
       }
       .session {
              width: 250px;
              padding: 3px 10px;
              text-align: left;

              h1 {
                     font-size: 25px;
                     margin-bottom: 5px;
              }
              h2 {
                     position: relative;
                     width: 100%;
                     font-size: 15px;
                     background: transparent;
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     gap: 5px;

                     span {
                            text-align: right;
                     }
              }
       }
       .tabgui {
              width: 250px;
              padding: 3px 10px;
              text-align: left;
              display: flex;
              flex-direction: column;
              gap: 5px;

              h2 {
                     position: relative;
                     width: 100%;
                     font-size: 20px;
                     background: transparent;
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     gap: 5px;

                     span {
                            text-align: right;
                     }
              }
       }
}

#arraylist {
       position: absolute;
       background: transparent;
       top: 20px;
       right: 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-end;
       gap: 0px;
       
       h3 {
              padding: 0px 5px;
              padding-right: 10px;
              font-size: 15px;
              border-radius: 5px !important;
              display: flex;
              align-items: center;
              gap: 5px;

              div {
                     position: absolute;
                     right: 0px;
                     width: 3px;
                     height: 15px;
              }
       }
}

#scoreboard {
       position: absolute;
       background: transparent;
       max-width: 300px;
       padding-right: 10px;
       left: 20px;
       align-self: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       gap: 5px;
       
       .title {
              font-size: 20px;
              padding: 3px 10px;
              width: calc(100% - 10px)
       }
       div {
              height: 5px;
       }
       h2 {
              margin-left: 10px;
              width: 100%;
              max-width: 100%;
              font-size: 15px;

              &.gray {
                     color: rgb(179, 179, 179);
              }

              span {
                     &.gray {
                            color: rgb(179, 179, 179);
                     }
                     &.green {
                            color: rgb(37, 255, 102);
                     } 
                     &.red {
                            color: rgb(255, 37, 37);
                     } 
                     &.blue {
                            color: rgb(37, 139, 255);
                     }
                     &.yellow {
                            color: rgb(255, 251, 37);
                     }   
              }
       }
       .ip {
              margin-left: 10px;
              width: 100%;
              max-width: 100%;
              font-size: 20px;
       }
}

#hotbar {
       position: absolute;
       background: transparent;
       justify-self: center;
       bottom: 20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 5px;

       .health {
              background: transparent;
              width: 100%;
              display: grid;
              grid-template-columns: repeat(2, calc(50% - 3px));
              grid-template-rows: repeat(2, 10px);
              gap: 5px;

              div {
                     border-radius: 5px !important;
                     overflow: hidden;
              }
              .abs {
                     position: relative;
                     background: rgba(255, 115, 0, 0.2);

                     div {
                            background: rgb(255, 187, 0);
                            height: 100%;
                            width: 50%; 
                     }
              }
              .arm {
                     position: relative;
                     background: rgba(136, 136, 136, 0.2);

                     div {
                            background: rgb(199, 199, 199);
                            height: 100%;
                            width: 25%; 
                     }
              }
              .htl {
                     position: relative;
                     background: rgba(136, 136, 136, 0.2);

                     div {
                            background: rgb(199, 199, 199);
                            height: 100%;
                            width: 100%; 
                     }
              }
              .hun {
                     position: relative;
                     background: rgba(163, 50, 5, 0.2);

                     div {
                            background: rgb(158, 84, 23);
                            height: 100%;
                            width: 90%; 
                     }
              }
       }
       .items {
              background: transparent;
              display: grid;
              grid-template-columns: repeat(9, 50px);
              grid-template-rows: repeat(1, 50px);
              gap: 5px;

              div {
                     grid-column: 4/5;
              }
       }
}

#info {
       position: absolute;
       background: transparent;
       padding: 5px 10px;
       left: 20px;
       bottom: 20px;
       max-width: 400px;
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: left;
       align-items: center;
       gap: 0px;

       h3 {
              padding: 0px 15px;
       }
}

#notification {
       position: absolute;
       background: transparent;
       padding: 5px 10px;
       justify-self: center;
       bottom: 120px;
       max-width: 400px;
       display: flex;
       flex-direction: column;
       justify-content: left;
       align-items: center;
       gap: 5px;

       h3 {
              padding: 4px 15px;

              &.info {
                     background: rgba(44, 65, 255, 0.2);
                     color: rgb(181, 189, 255)
              }
              &.alert {
                     background: rgba(255, 44, 44, 0.2);
                     color: rgb(255, 181, 181)
              }
              &.error {
                     background: rgba(255, 181, 44, 0.2);
                     color: rgb(255, 229, 181)
              }
              &.success {
                     background: rgba(51, 255, 44, 0.2);
                     color: rgb(181, 255, 187)
              }
       }
}

#clickgui {
       position: absolute;
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 5px;
       transition: 0.3s ease;

       &.inactive {
              pointer-events: none;
              opacity: 0;
              scale: 0.9;
       }
       .decor {
              position: relative;
              padding: 1px;
              background: transparent;
              display: flex;
              flex-direction: column;
              gap: 5px;

              .menu {
                     width: 1200px;
                     height: 500px;
                     position: relative;
                     padding: 5px;
                     background: var(--bg);
                     display: flex;
                     flex-direction: row;
                     justify-content: left;
                     align-items: center;
                     gap: 5px;

                     .menuitem {
                            height: 100%;
                     }
                     .category {
                            background: transparent;
                            width: 60px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            
                            .bili {
                                   width: 100%;
                                   aspect-ratio: 1;
                                   background: transparent;

                                   div {
                                          position: absolute;
                                          opacity: 0;
                                          left: 0px;
                                          width: 5px;
                                          height: 0%;
                                          transition: 0.2s ease;
                                   }
                                   span {
                                          position: relative;
                                          width: 100%;
                                          aspect-ratio: 1;
                                          font-size: 30px;
                                          cursor: pointer;
                                          color: var(--txt);
                                          background: transparent;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                          transition: background 0.2s ease;

                                          h3 {
                                                 position: absolute;
                                                 background: var(--bg);
                                                 font-size: 20px;
                                                 padding: 2px 10px;
                                                 opacity: 0;
                                                 pointer-events: none;
                                                 right: calc(100% - 10px);
                                                 transition: 0.5s ease-in-out 0.05s;
                                          }

                                          &:hover {
                                                 background: var(--bgtrans);

                                                 h3 {
                                                        opacity: 1;
                                                        right: calc(100% + 10px);
                                                        transition: 0.2s ease-in-out;
                                                 }
                                          }
                                          &.active {

                                                 div {
                                                        opacity: 1;
                                                        height: 25%;
                                                 }
                                                 h3 {
                                                        
                                                 }
                                          }
                                   }
                            }
                     }
                     .box {
                            position: relative;
                            background: transparent;
                            flex-grow: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;

                            .boxitem {
                                   position: absolute;
                                   background: black;

                                   &.active {
                                          pointer-events: auto;
                                          animation: clickgui-active 0.5s ease forwards;
                                   }
                                   &.inactive {
                                          pointer-events: none;
                                          animation: clickgui-inactive 0.5s ease forwards;
                                   }
                            }
                            #homeb {
                                   background: transparent;
                                   display: grid;
                                   grid-template-columns: repeat(4,280px);
                                   grid-template-rows: repeat(3,163px);
                                   gap: 5px;

                                   div {
                                          background: var(--bgtrans);
                                          padding: 15px;

                                          h3 {
                                                 font-size: 25px;
                                          }
                                          h2 {
                                                 font-size: 15px;
                                                 margin-bottom: 3px;
                                                 opacity: 0.8;

                                                 &:nth-child(2) {
                                                        margin-top: 10px;
                                                 }
                                          }

                                          &:nth-child(1) {
                                                 grid-row: 1/3;
                                          }
                                          &:nth-child(5) {
                                                 grid-row: 2/4;
                                          }
                                          &:nth-child(6) {
                                                 position: relative;
                                                 display: flex;
                                                 flex-direction: column;
                                                 grid-column: 3/5;
                                                 grid-row: 2/4;
                                                 align-items: flex-start;
                                                 justify-content: flex-end;
                                                 overflow: hidden;

                                                 img {
                                                        position: absolute;
                                                        height: 75%;
                                                        opacity: 0.3;
                                                        bottom: 0px;
                                                        right: -50px;
                                                 }
                                          }
                                   }
                            }
                     }
              }
       }
}
   