.video {
       position: fixed;
       width: 100%;
       height: 100%;
       object-fit: cover;
       scale: 1;
       border-radius: 0px !important;
       z-index: 0;
}
* {
       border-radius: 10px !important;
}
.border {
       box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0);
}
.element {
       transition: opacity 0.2s, scale 0.2s cubic-bezier(.37,1.68,.49,.92), filter 0.2s ease;

       &.active {
              opacity: 1;
              scale: 1;
              filter: blur(0vmax);
       }
       &.inactive {
              opacity: 0;
              scale: 0.95;
              filter: blur(1vmax);
       }
}

.color_bg {
       animation: color_bg 5s infinite ease-in-out;
}
.color_bg2 {
       animation: color_bg2 5s infinite ease-in-out;
}
.color_txt {
       animation: color_txt 5s infinite ease-in-out;
}
.color_bg-txt {
       animation: color_bg-txt 5s infinite ease-in-out;
}
   