.christmas-decor {
       z-index: 0;
       pointer-events: none;
}
.sparkle {
       position: absolute;
       height: 5px;
       aspect-ratio: 1;
       border-radius: 50%;
       background: var(--pri);
       box-shadow: 0px 0px 15px 0px var(--pri);
       animation: snow 10s linear infinite,
              left-to-right 3s ease-in-out infinite;
}
@keyframes snow {
       from {
              top: 0%;
       }
       to {
              top: calc(100% + 10px);
       }
}
@keyframes left-to-right {
       from {
              margin-left: 50px;
       }
       50% {
              margin-left: -50px;
       }
       to {
              margin-left: 50px;
       }
}