.section, .sectionstart {
       position: relative;
       background: var(--bg2);
       padding: 50px;
       width: 90%;

       h1 {
              color: var(--pri);
              font-size: 100px;
              margin-bottom: 20px;
       }
       h2 {
              font-size: 25px;
              color: var(--txt);
              line-height: 35px;

              span {
                     color: var(--pri);
              }
       }
}
.sectionstart {
       margin-top: 110px;
}