#contextmenu {
       position: absolute;
       z-index: 10001 !important;
       background: var(--bgtrans);
       padding: 10px;
       opacity: 0;
       scale: 0.9;
       display: flex;
       flex-direction: column;
       justify-content: left;
       align-items: flex-start;
       pointer-events: none;
       gap: 5px;
       transition: opacity 0.5s cubic-bezier(0,1.66,.58,.88), scale 0.5s cubic-bezier(0,1.66,.58,.88);

       h2 {
              color: var(--txt);
              font-size: 15px;
              width: calc(100% - 20px);
              cursor: pointer;
              padding: 5px 10px;
              padding-left: 10px;
              transition: 0.2s ease;

              &:hover {
                     color: white;
                     background: rgba(255, 255, 255, 0.1);
              }
       }
       hr {
              width: 100%;
              opacity: 0.2;
       }
}

#desktop {
       position: absolute;
       height: 100%;
       width: 100%;
       overflow: hidden;
       border-radius: 0px;

       display: flex;
       justify-content: center;
       align-items: center;

       img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 0px;
       }

}
#navbar {
       position: absolute;
       background: var(--bgtrans);
       padding: 5px;
       width: calc(100% - 20px);
       border-radius: 10px;
       height: 50px;
       bottom: 5px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       z-index: 10000;

       .apps {
              position: relative;
              background: transparent;
              border-radius: 10px;
              height: 100%;
              display: flex;
              justify-content: left;
              align-items: center;
              gap: 5px;

              .otherind {
                     opacity: 0;
                     translate: 0% 20%;
                     display: none;

              }
              .otherind.active {
                     display: flex;
                     opacity: 1 !important;
                     translate: 0% 0% !important;

                     .indicator {
                            width: 25%;
                     }
              }

              div {
                     position: relative;
                     background: transparent;
                     height: 100%;
                     border-radius: 10px;
                     aspect-ratio: 1;
                     transition: 0.1s ease;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     cursor: pointer;

                     .indicator {
                            position: absolute;
                            background: var(--pri);
                            pointer-events: none;
                            height: 5px;
                            width: 0%;
                            bottom: 0px;
                     }
                     &:hover {
                            background: rgba(255,255,255,0.05);
                     }
                     img {
                            height: 100%;
                            width: 100%;
                            pointer-events: none;
                     }
                     span {
                            position: absolute;
                            color: var(--txti);
                            pointer-events: none;
                            transition: 0.2s ease;
                     }
              }
              hr {
                     height: 50%;
                     opacity: 0.2;
              }
       }
       .essentials {
              position: relative;
              background: transparent;
              border-radius: 10px;
              height: 100%;
              display: flex;
              justify-content: right;
              align-items: center;
              gap: 5px;

              .time {
                     position: relative;
                     background: transparent;
                     height: 100%;
                     padding: 0px 10px;
                     border-radius: 10px;
                     transition: 0.1s ease;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: right;
                     cursor: pointer;

                     &:hover {
                            background: rgba(255,255,255,0.05);
                     }
                     h2 {
                            line-height: 20px;
                            text-align: right;
                            font-size: 15px;
                     }
              }
              .other {
                     position: relative;
                     background: transparent;
                     height: 100%;
                     border-radius: 10px;
                     aspect-ratio: 1;
                     transition: 0.1s ease;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     cursor: pointer;

                     &:hover {
                            background: rgba(255,255,255,0.05);
                     }
                     img {
                            height: 100%;
                            aspect-ratio: 1;;
                     }
                     span {
                            color: var(--txt);
                     }
                     h3 {
                            opacity: 1;
                     }
              }
              hr {
                     height: 50%;
                     opacity: 0.2;
              }
       }
}
#menu {
       position: absolute;
       background: var(--bgtrans);
       padding: 10px;
       border-radius: 10px;
       left: 5px;
       scale: 0.9;
       opacity: 0;
       bottom: 70px;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       gap: 5px;
       transition: 0.5s cubic-bezier(0,1.66,.58,.88);
       z-index: 9999;
       pointer-events: none;

       .sep {
              width: 100%;
              opacity: 0.1;

       }
       .pinned {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 5px;

              h3 {
                     color: var(--pri);
              }
              .grid {
                     background: transparent;
                     display: grid;
                     grid-template-columns: repeat(6, 80px);
                     grid-template-rows: repeat(1, 80px);
                     gap: 5px;

                     .other.add {
                            opacity: 0.5;
                            span {
                                   font-size: 30px;
                            }
                     }
                     .other {
                            position: relative;
                            background: transparent;
                            height: 100%;
                            border-radius: 10px;
                            aspect-ratio: 1;
                            transition: 0.1s ease;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
       
                            &:hover {
                                   background: rgba(255,255,255,0.05);
                            }
                            img {
                                   height: 100%;
                                   aspect-ratio: 1;;
                            }
                            span {
                                   color: var(--txt);
                                   font-size: 50px;
                            }
                            h3 {
                                   opacity: 1;
                            }
                     }
              }
       }
       .search {
              position: relative;
              background: var(--bgtrans);
              padding: 5px 10px;
              border-radius: 10px;
              width: calc(100% - 20px);
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              gap: 5px;

              hr {
                     height: 50%;
                     opacity: 0.2;
              }

              input {
                     position: relative;
                     background: transparent;
                     font-size: 15px;
                     border-radius: 10px;
                     color: var(--txt);
                     font-family: comfortaa,sans-serif;
                     border: 0;
                     margin-left: 5px;
                     flex-grow: 1;
                     height: 100%;
       
                     &:focus {
                            outline: 0;
                     }
              }
       }

       .profile {
              position: relative;
              background: transparent;
              min-width: 100%;
              border-radius: 10px;
              padding: 5px 0px;
              display: flex;
              gap: 50px;
              align-items: center;
              justify-content: space-between;

              h3 {
                     opacity: 1;
                     color: var(--pri);
                     margin-left: 20px;
              }

              .items {
                     display: flex;
                     gap: 5px;
                     margin-right: 10px;
              }
              .other {
                     position: relative;
                     background: transparent;
                     height: 100%;
                     padding: 5px;
                     border-radius: 10px;
                     aspect-ratio: 1;
                     transition: 0.1s ease;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     cursor: pointer;

                     &:hover {
                            background: rgba(255,255,255,0.05);
                     }
                     img {
                            height: 100%;
                            aspect-ratio: 1;;
                     }
                     span {
                            color: var(--txt);
                     }
              }
       }
}
#search {
       position: absolute;
       background: var(--bgtrans);
       padding: 5px 20px;
       border-radius: 10px;
       width: 700px;
       height: 50px;
       opacity: 0;
       scale: 0.9;
       top: 10px;
       display: flex;
       justify-content: left;
       align-items: center;
       flex-direction: row;
       gap: 20px;
       transition: 0.5s cubic-bezier(0,1.66,.58,.88);
       z-index: 10000;

       hr {
              height: 50%;
              opacity: 0.2;
       }

       input {
              position: relative;
              background: transparent;
              font-size: 15px;
              border-radius: 10px;
              color: var(--txt);
              font-family: comfortaa,sans-serif;
              border: 0;
              margin-left: 5px;
              flex-grow: 1;
              height: 100%;

              &:focus {
                     outline: 0;
              }
       }
}

#folder {
       position: absolute;
       background: var(--bgtrans);
       border-radius: 10px;
       scale: 0.9;
       opacity: 0;
       height: 750px;
       width: 1500px;
       overflow: hidden;
       display: flex;
       justify-content: center;
       pointer-events: none;

       .title {
              position: absolute;
              background: transparent;
              height: 40px;
              width: calc(100% - 10px);
              top: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .truetitle {
                     margin-left: 5px;
                     background: transparent;
                     flex-direction: row;
                     display: flex;
                     align-items: center;
                     gap: 10px;

                     h2 {
                            font-size: 20px;
                            padding: 5px 15px;
                            background: transparent;
                            cursor: pointer;
                            color: var(--pri);
                     }
                     span {
                            font-size: 20px;
                            padding: 5px 15px;
                            background: transparent;
                            cursor: pointer;
                            transition: 0.2s ease;

                            &:hover {
                                   background: rgba(255,255,255,0.1);
                            }
                     }
              }
              .control {
                     margin-left: 5px;
                     background: transparent;
                     flex-direction: row;
                     display: flex;
                     align-items: center;
                     gap: 5px;

                     span {
                            font-size: 20px;
                            padding: 10px 10px;
                            border-radius: 10px;
                            background: transparent;
                            cursor: pointer;
                            transition: 0.2s ease;

                     }
                     .minus {
                            &:hover {
                                   background: rgba(255, 255, 255, 0.1);
                            }
                     }
                     .windowed {
                            &:hover {
                                   background: rgba(255, 255, 255, 0.1);
                            }
                     }
                     .close {
                            &:hover {
                                   color: black;
                                   background: rgb(196, 29, 29);
                            }
                     }
              }
       }
       .center {
              position: absolute;
              border-radius: 10px;
              background: var(--bg);
              width: 100%;
              height: 700px;
              bottom: 0px;
              display: flex;
              flex-direction: column;
              align-items: center;

              .control {
                     position: relative;
                     border-radius: 10px;
                     background: transparent;
                     width: calc(100% - 10px);
                     height: 50px;
                     display: flex;
                     flex-direction: row;
                     justify-content: center;
                     align-items: center;
                     gap: 5px;

                     .button {
                            padding: 7px;
                            background: transparent;
                            cursor: pointer;

                            &:hover {
                                   background: rgba(255,255,255,0.1);
                            }
                     }
                     input {
                            position: relative;
                            padding: 10px 10px;
                            background: rgba(255,255,255,0.05);
                            font-family: comfortaa,sans-serif;
                            font-size: 16px;
                            color: var(--txt);
                            border: 0;
                            flex-grow: 1;

                            &:focus {
                                   outline: 0;
                            }
                     }
              }
              .main {
                     position: relative;
                     border-radius: 10px;
                     background: transparent;
                     width: calc(100% - 10px);
                     flex-grow: 1;
                     display: flex;
                     flex-direction: row;
                     justify-content: left;
                     align-items: center;
                     gap: 5px;

                     .direction {
                            position: relative;
                            background: transparent;
                            height: 100%;
                            width: 300px;
                            display: flex;
                            flex-direction: column;
                            justify-content: left;
                            align-items: flex-start;
                            gap: 1px;

                            .first {
                                   margin-top: 20px;
                            }
                            h2 {
                                   padding: 5px 10px;
                                   width: 80%;
                                   background: transparent;
                                   font-size: 20px;
                                   margin-left: 20px;
                                   transition: 0.1s ease;
                                   cursor: pointer;

                                   &:hover {
                                          color: white;
                                          background: rgba(255,255,255,0.1);
                                   }
                            }
                            hr {
                                   position: relative;
                                   margin-top: 10px;
                                   margin-bottom: 10px;
                                   border-color: var(--txt);
                                   opacity: 0.2;
                                   width: 90%;
                                   left: 50%;
                                   translate: -50% 0%;
                            }
                     }
                     .sep {
                            height: 100%;
                            position: relative;
                            border-color: var(--txt);
                            opacity: 0.2;

                     }
                     .items {
                            position: relative;
                            background: transparent;
                            height: 100%;
                            flex-grow: 1;
                            display: flex;
                            justify-content: left;
                            flex-direction: row;
                            align-items: flex-start;
                            gap: 10px;

                            .disk {
                                   position: relative;
                                   background: var(--bg2);
                                   min-width: 365px;
                                   padding: 10px;

                                   h1 {
                                          color: var(--pri);
                                          z-index: 10;
                                   }
                                   h2 {
                                          z-index: 10;
                                   }
                                   .healthbar {
                                          position: absolute;
                                          pointer-events: none;
                                          width: 100%;
                                          height: 100%;
                                          background: transparent;
                                          top: 0px;
                                          left: 0px;
                                          z-index: 5;

                                          .local, .ssd {
                                                 position: absolute;
                                                 height: 100%;
                                                 background: var(--pri2);
                                                 top: 0px;
                                                 left: 0px;
                                          }
                                          .local {
                                                 width: 2%;
                                          }
                                          .ssd {
                                                 width: 18%;
                                          }
                                   }
                            }
                     }
              }
       }
}


#terminal {
       position: absolute;
       background: var(--bgtrans);
       border-radius: 10px;
       scale: 0.9;
       opacity: 0;
       height: 750px;
       width: 1500px;
       overflow: hidden;
       display: flex;
       justify-content: center;
       pointer-events: none;

       .title {
              position: absolute;
              background: transparent;
              height: 40px;
              width: calc(100% - 10px);
              top: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .truetitle {
                     margin-left: 5px;
                     background: transparent;
                     flex-direction: row;
                     display: flex;
                     align-items: center;
                     gap: 10px;

                     h2 {
                            font-size: 20px;
                            padding: 5px 15px;
                            background: transparent;
                            cursor: pointer;
                            color: var(--pri);
                     }
                     span {
                            font-size: 20px;
                            padding: 5px 15px;
                            background: transparent;
                            cursor: pointer;
                            transition: 0.2s ease;

                            &:hover {
                                   background: rgba(255,255,255,0.1);
                            }
                     }
              }
              .control {
                     margin-left: 5px;
                     background: transparent;
                     flex-direction: row;
                     display: flex;
                     align-items: center;
                     gap: 5px;

                     span {
                            font-size: 20px;
                            padding: 10px 10px;
                            border-radius: 10px;
                            background: transparent;
                            cursor: pointer;
                            transition: 0.2s ease;

                     }
                     .minus {
                            &:hover {
                                   background: rgba(255, 255, 255, 0.1);
                            }
                     }
                     .windowed {
                            &:hover {
                                   background: rgba(255, 255, 255, 0.1);
                            }
                     }
                     .close {
                            &:hover {
                                   color: black;
                                   background: rgb(196, 29, 29);
                            }
                     }
              }
       }
       .main {
              position: absolute;
              border-radius: 10px;
              background: var(--bg2);
              width: calc(100% - 10px);
              height: calc(100% - 55px);
              bottom: 5px;
              display: flex;
              flex-direction: column;
              justify-content: left;
              align-items: flex-start;
              gap: 20px;
              overflow-x: hidden;
              overflow-y: scroll;

              h2 {
                     font-size: 17px;
                     margin-bottom: 35px;
                     margin-left: 10px;
                     transition: 0.5s ease;
                     animation: terminal 0.2s ease forwards;

                     span {
                            color: var(--pri);
                     }
                     hr {
                            border-style: dashed;
                            opacity: 0.5;
                     }
              }
              .sep {
                     height: 50px;
              }
              input {
                     position: fixed;
                     background: var(--bg);
                     font-family: comfortaa,sans-serif;
                     color: var(--txt);
                     padding-left: 20px;
                     width: 100%;
                     bottom: 0px;
                     height: 40px;
                     border: 0;
                     z-index: 5;
                     
                     &:focus {
                            outline: 0;
                     }
              }

       }
}


.visible {
       opacity: 1 !important;
       scale: 1 !important;
       pointer-events: auto !important;

       &.active {
              z-index: 100 !important;
       }
}
.expanded {
       width: 25% !important;
}
.popup {
       transition: opacity 0.5s cubic-bezier(0,1.66,.58,.88), scale 0.5s cubic-bezier(0,1.66,.58,.88);
}

@keyframes terminal {
       from {
              opacity: 0;
              margin-left: 50px;
       }
       to {
              opacity: 1;
              margin-left: 10px;
       }
}