#desktop {
       position: absolute;
       height: 100%;
       width: 100%;
       overflow: hidden;
       border-radius: 0px;

       display: flex;
       justify-content: center;
       align-items: center;

       img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 0px;
       }

}
#navbar {
       position: absolute;
       background: var(--bgtrans);
       padding: 5px;
       width: calc(100% - 20px);
       border-radius: 10px;
       height: 50px;
       bottom: 5px;
       display: flex;
       justify-content: space-between;
       align-items: center;

       .apps {
              position: relative;
              background: transparent;
              border-radius: 10px;
              height: 100%;
              display: flex;
              justify-content: left;
              align-items: center;
              gap: 5px;

              div {
                     position: relative;
                     background: transparent;
                     height: 100%;
                     border-radius: 10px;
                     aspect-ratio: 1;
                     transition: 0.1s ease;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     cursor: pointer;

                     .indicator {
                            position: absolute;
                            background: var(--pri);
                            pointer-events: none;
                            height: 5px;
                            width: 0%;
                            bottom: 0px;
                            transition: 0.2s ease;
                     }
                     &:hover {
                            background: rgba(255,255,255,0.05);
                     }
                     img {
                            height: 100%;
                            width: 100%;
                     }
                     span {
                            color: var(--txti);
                     }
              }
              hr {
                     height: 50%;
                     opacity: 0.2;
              }
       }
       .essentials {
              position: relative;
              background: transparent;
              border-radius: 10px;
              height: 100%;
              display: flex;
              justify-content: right;
              align-items: center;
              gap: 5px;

              .time {
                     position: relative;
                     background: transparent;
                     height: 100%;
                     padding: 0px 10px;
                     border-radius: 10px;
                     transition: 0.1s ease;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: right;
                     cursor: pointer;

                     &:hover {
                            background: rgba(255,255,255,0.05);
                     }
                     h2 {
                            line-height: 20px;
                            text-align: right;
                            font-size: 15px;
                     }
              }
              .other {
                     position: relative;
                     background: transparent;
                     height: 100%;
                     border-radius: 10px;
                     aspect-ratio: 1;
                     transition: 0.1s ease;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     cursor: pointer;

                     &:hover {
                            background: rgba(255,255,255,0.05);
                     }
                     img {
                            height: 100%;
                            aspect-ratio: 1;;
                     }
                     span {
                            color: var(--txt);
                     }
                     h3 {
                            opacity: 1;
                     }
              }
              hr {
                     height: 50%;
                     opacity: 0.2;
              }
       }
}
#menu {
       position: absolute;
       background: var(--bgtrans);
       padding: 10px;
       border-radius: 10px;
       left: 5px;
       scale: 0.9;
       opacity: 0;
       bottom: 70px;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       gap: 5px;
       transition: 0.5s cubic-bezier(0,1.66,.58,.88);

       .sep {
              width: 100%;
              opacity: 0.1;

       }
       .pinned {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 5px;

              h3 {
                     color: var(--pri);
              }
              .grid {
                     background: transparent;
                     display: grid;
                     grid-template-columns: repeat(6, 80px);
                     grid-template-rows: repeat(1, 80px);
                     gap: 5px;

                     .other.add {
                            opacity: 0.5;
                            span {
                                   font-size: 30px;
                            }
                     }
                     .other {
                            position: relative;
                            background: transparent;
                            height: 100%;
                            border-radius: 10px;
                            aspect-ratio: 1;
                            transition: 0.1s ease;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
       
                            &:hover {
                                   background: rgba(255,255,255,0.05);
                            }
                            img {
                                   height: 100%;
                                   aspect-ratio: 1;;
                            }
                            span {
                                   color: var(--txt);
                                   font-size: 50px;
                            }
                            h3 {
                                   opacity: 1;
                            }
                     }
              }
       }
       .search {
              position: relative;
              background: var(--bgtrans);
              padding: 5px 10px;
              border-radius: 10px;
              width: calc(100% - 20px);
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              gap: 5px;

              hr {
                     height: 50%;
                     opacity: 0.2;
              }

              input {
                     position: relative;
                     background: transparent;
                     font-size: 15px;
                     border-radius: 10px;
                     color: var(--txt);
                     font-family: comfortaa,sans-serif;
                     border: 0;
                     margin-left: 5px;
                     flex-grow: 1;
                     height: 100%;
       
                     &:focus {
                            outline: 0;
                     }
              }
       }

       .profile {
              position: relative;
              background: transparent;
              min-width: 100%;
              border-radius: 10px;
              padding: 5px 0px;
              display: flex;
              gap: 50px;
              align-items: center;
              justify-content: space-between;

              h3 {
                     opacity: 1;
                     color: var(--pri);
                     margin-left: 20px;
              }

              .items {
                     display: flex;
                     gap: 5px;
                     margin-right: 10px;
              }
              .other {
                     position: relative;
                     background: transparent;
                     height: 100%;
                     padding: 5px;
                     border-radius: 10px;
                     aspect-ratio: 1;
                     transition: 0.1s ease;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     cursor: pointer;

                     &:hover {
                            background: rgba(255,255,255,0.05);
                     }
                     img {
                            height: 100%;
                            aspect-ratio: 1;;
                     }
                     span {
                            color: var(--txt);
                     }
              }
       }
}

#folder {
       position: absolute;
       background: var(--bg);
       border-radius: 10px;
       padding: 10px;
       height: 750px;
       width: 1500px;
}