@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root {
       /* Backgrounds */
       --bg: rgb(10, 10, 10);
       --bg2: rgb(3, 3, 3);
       --mbg: rgba(45, 45, 45, 1);
       --mbg2: rgba(30, 30, 30, 1);
       --bgtrans: rgba(0,0,0, 0.3);

       /* Text */
       --txt: rgb(202, 202, 202);
       --txti: rgb(120, 120, 120);

       /* Colors */
       --pri: rgb(255, 18, 58);
       --pri2: rgba(255, 18, 58, 0.2);

       /* Filters */
       --imgfilter: brightness(0) saturate(100%) invert(22%) sepia(53%) saturate(6354%) hue-rotate(340deg) brightness(98%) contrast(108%);
}
html {
       touch-action: manipulation;
       
}
* {
       margin: 0;
       min-width: 0;
       padding: 0;
       border-radius: 50px;
}
a {
       text-decoration: none;
       color: inherit;
}

body {
       color: var(--txt);
       background: var(--bg);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       min-height: 100svh;
}

h1, h2, h3 {
       font-family: Fredoka,sans-serif;
       color: var(--txt);
       font-weight: 500;
}
h2 {
       font-family: poppins,sans-serif;
       font-weight: 400;
}

.trans {
       backdrop-filter: blur(1vmax);
}
.rounded {
       border-radius: 20px;
}
.border {
       box-shadow: 0px 0px 0px 1px white;
}

/* Target WebKit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
       width: 10px; /* Adjust width as desired */
     }
     
     *::-webkit-scrollbar-track {
       background: transparent; /* Customize track background color */
       border-radius: 10px; /* Add rounded corners */
     }
     
     *::-webkit-scrollbar-thumb {
       background: var(--pri2); /* Customize thumb color */
       border-radius: 10px; /* Add rounded corners */
       transition: all 0.25s ease;
     }
     *::-webkit-scrollbar-thumb:hover {
       background: var(--pri); /* Customize thumb color */
       border-radius: 10px; /* Add rounded corners */
     }

     ::selection {
       color: inherit; /* Change the text color */
       background-color: transparent; /* Change the background color */
     }

.button:hover {
       background: var(--pri2) !important;
       color: var(--pri) !important;
}

@media screen and (max-width: 1000px) {
       .desktop {
              display: none;
       }
       .mobile {
              display: auto;
       }
       body {
              background: var(--mbg);
       }
       * {
              border-radius: 3vmax;
       }
}

@media screen and (min-width: 1001px) {
       .desktop {
              display: auto;
       }
       .mobile {
              display: none;
       }
}

.fade-in {
       opacity: 0;
       transition: opacity 0.2s ease-in-out;
     }
     
.fade-in.show {
       opacity: 1;
}

@keyframes popin {
       from {
              opacity: 0;
              scale: 0.5;
              translate: 0% 50%;
       }
       to {
              opacity: 1;
              scale: 1;
              translate: 0% 0%;
       }
}
     
