#chat {
       position: absolute;
       bottom: 0px;
       display: flex;
       flex-direction: column-reverse;
       background: transparent;
       width: calc(50% - 250px);
       scale: 0.9;
       opacity: 0;
       pointer-events: none;
       transition: 0.2s ease;

       &.active {
              scale: 1;
              opacity: 1;
              pointer-events: auto;
       }

       input {
              height: 25px;
              outline: 0;
              border: 0;
              font-family: fredoka,sans-serif;
              font-size: 20px;
              background: var(--bgtrans);
              padding: 5px 0px;
              padding-left: 10px;
              color: white;
       }
       .chat {
              display: flex;
              flex-direction: column;

              .green {
                     opacity: 1;
                     color: rgb(69, 255, 63)
              }
              .orange {
                     opacity: 1;
                     color: rgb(255, 165, 63)
              }
              .red {
                     opacity: 1;
                     color: rgb(255, 63, 63)
              }
              .yellow {
                     opacity: 1;
                     color: rgb(242, 255, 63)
              }
              .blue {
                     opacity: 1;
                     color: rgb(63, 178, 255)
              }
              .purple {
                     opacity: 1;
                     color: rgb(169, 63, 255)
              }
              
              h3 {
                     position: relative;
                     display: flex;
                     flex-direction: row;
                     align-items: center;
                     font-size: 20px;
                     gap: 10px;
                     margin-left: 10px;

                     span {
                            position: relative;
                            font-size: 20px;
                            font-weight: 400;
                            opacity: 1;
                            color: rgb(209, 209, 209);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 3px;
                            margin-right: 3px;

                            &.red:hover, &.orange:hover,
                            &.yellow:hover, &.green:hover,
                            &.blue:hover, &.purple:hover {
                                   h2 {
                                          opacity: 1;
                                          scale: 1;
                                   }
                            }

                            h2 {
                                   position: absolute;
                                   font-size: 15px;
                                   padding: 3px 10px;
                                   background: var(--bg);
                                   color: rgb(139, 139, 139);
                                   margin-bottom: 50px;
                                   z-index: 2;
                                   pointer-events: none;
                                   opacity: 0;
                                   scale: 0.8;
                                   transition: 0.2s ease, scale 0.3s cubic-bezier(.26,1.61,0.2,2);
                            }
                     }
              }
       }
}