#title {
       position: absolute;
       background: transparent;
       display: flex;
       flex-direction: column;
       gap: 10px;
       z-index: 1000;

       h1 {
              font-size: 30px;
              padding: 3px 10px;
              width: calc(100% - 20px);
       }

       #session-info {
              position: relative;
              padding: 0px 10px;
              padding-bottom: 3px;
              display: flex;
              flex-direction: column;


              .item-txt {
                     width: calc(100% - 0px);
                     padding: 3px 10px;
                     margin-left: -10px;
                     margin-bottom: 0px;
              }

              .item {
                     position: relative;
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     gap: 30px;

                     h3 {
                            font-size: 18px;
                     }
                     h2 {
                            font-size: 18px;
                            line-height: 1.3;
                     }
              }
       }
       #doodle {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              aspect-ratio: 1;
              width: 100%;
              min-width: 220px;
              max-height: 150px;
              cursor: pointer;

              &:hover {
                     img {
                            animation: doodle-anim 0.2s ease-in-out forwards,
                                   doodle-anim2 2s ease-in-out infinite;
                     }
              }

              img {
                     position: absolute;
                     height: 100%;
                     width: 100%;
                     object-fit: contain;
                     scale: 0.9;
                     pointer-events: none;
              }
       }
}
@keyframes doodle-anim {
       from {
              translate: 0% 0%;
       }
       50% {
              translate: 0% -5%;
       }
       to {
              translate: 0% 0%;
       }
}
@keyframes doodle-anim2 {
       from {
              rotate: -5deg;
       }
       50% {
              rotate: 5deg;
       }
       to {
              rotate: -5deg;
       }
}