@keyframes loading {
       0% {
              left: -100%;
       }
       100% {
              left: 110%;
       }
}
@keyframes section1 {
       0% {
              scale: 1;
       }
       5% {
              opacity: 1;
       }
       25% {
              opacity: 0;
       }
       100% {
              scale: 0;
              opacity: 0;
       }
}
@keyframes section2 {
       0% {
              scale: 0;
              opacity: 0;
       }
       75% {
              opacity: 1;
       }
       95% {
              opacity: 1;
       }
       100% {
              scale: 1;
              opacity: 1;
              pointer-events: auto;
       }
}
@keyframes section2off {
       0% {
              scale: 1;
       }
       5% {
              opacity: 1;
       }
       25% {
              opacity: 0;
       }
       100% {
              scale: 0;
              opacity: 0;
       }
}