#login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;

    &.loaded {
        opacity: 1;
        transition-delay: 1s;
        pointer-events: auto;
    }

    .box {
        position: absolute;
        background: var(--bgtrans);
        height: calc(100% - 40px);
        width: calc(50% - 40px);
        top: 20px;
        left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        img {
            background: white;
            aspect-ratio: 1;
            height: 150px;
            border-radius: 50% !important;
            object-fit: cover;
            border: solid 2px var(--pri)
        }

        h3 {
            font-size: 32px;
            color: var(--pri);
            text-align: center;
        }
        input {
            width: 300px;
            height: 40px;
            padding: 0 15px;
            border: 0;
            background: var(--bgtrans);
            color: var(--pri);
            font-size: 18px;
            outline: none;
            transition: all 0.3s ease-in-out;
            border-radius: 5vmax !important;
            font-family: wavefont,sans-serif;
            font-weight: 900;

            &::placeholder {
                color: rgba(255, 255, 255, 0.473);
                font-family: lexend,sans-serif;
                font-weight: 400;
            }
            &.wrong {
                border: 2px solid var(--red);
            }
        }
        .button {
            font-size: 12px;
            padding: 3px 10px;
            background: transparent;

            &:hover {
                color: var(--pri);
                background: var(--bgtrans);
            }
        }
        #hint {
            scale: 0.8;
            opacity: 0;
            transition: all 0.3s ease, scale 0.4s cubic-bezier(.17,1.67,.61,.81);

            &.active {
                scale: 1;
                opacity: 1;
            }
        }
    }
    .version {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 18px;
        text-align: right;
        cursor: pointer;

        .muted {
            opacity: 0.5;
        }
    }
}