.header.desktop {
       position: fixed;
       background: var(--bgtrans);
       height: 80px !important;
       backdrop-filter: blur(5vmax);
       box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.05);
       top: 10px;

       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 100px;
       z-index: 10000;
       overflow: hidden;

       img {
              position: absolute;
              height: 100%;
       }

       &:hover {
              #headerdecoration {
                     opacity: 0.3;
              }
       }


       #headerdecoration {
              position: absolute;
              border-radius: 50%;
              background: var(--pri);
              height: 10vmax;
              aspect-ratio: 1;
              opacity: 0;
              z-index: -1;
              filter: blur(5vmax);

              translate: -50% -50%;
              transition: opacity 0.5s ease;
       }

       .items {
              position: relative;
              background: transparent;
              left: 60px;
              
              display: flex;
              flex-direction: row;
              gap: 5px;

              h1 {
                     position: relative;
                     box-shadow: 0px 0px 0px -1px black;
                     font-size: 23px;
                     padding: 5px 20px;
                     padding-left: 50px;
                     cursor: pointer;
                     transition: all 0.2s ease;

                     span {
                            position: absolute;
                            opacity: 0.5;
                            translate: 0% 10%;
                            left: 20px;
                     }
              }
       }
       .items2 {
              position: relative;
              background: transparent;
              align-self: center;

              display: flex;
              align-self: center;
              justify-content: space-around;
              flex-direction: row-reverse;
              gap: 0.5vmax;
              margin-right: 20px;

              div {
                     position: relative;
                     box-shadow: 0px 0px 0px -1px black;
                     height: 40px;
                     aspect-ratio: 1;
                     cursor: pointer;
                     transition: all 0.2s ease;

                     img {
                            scale: 0.7;
                     }

                     &:hover {
                            background: var(--pri2);

                            img {
                                   filter: var(--imgfilter);
                            }
                     }
              }
       }
}
.header.mobile {
       position: fixed;
       background: var(--bgtrans);

       height: 80px;
       backdrop-filter: blur(5vmax);
       box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.05);
       width: 95%;
       top: 10px;

       display: flex;
       flex-direction: row;
       justify-content: space-between;
       z-index: 10000;
       overflow: hidden;
       transition: 0.2s ease;

       img {
              position: absolute;
              height: 80px;
              top: 0px;
       }

       &:hover {
              #headerdecoration {
                     opacity: 0.3;
              }
       }


       #headerdecoration {
              position: absolute;
              border-radius: 50%;
              background: var(--pri);
              height: 10vmax;
              aspect-ratio: 1;
              opacity: 0;
              z-index: -1;
              filter: blur(5vmax);

              translate: -50% -50%;
              transition: opacity 0.5s ease;
       }

       .items {
              position: absolute;
              background: transparent;
              left: 0px;
              top: 80px;
              
              display: flex;
              flex-direction: column;
              gap: 5px;

              h1 {
                     position: relative;
                     box-shadow: 0px 0px 0px -1px black;
                     font-size: 23px;
                     padding: 5px 20px;
                     cursor: pointer;
                     transition: all 0.2s ease;

                     span {
                            opacity: 0.5;
                     }
              }
       }
       .items2 {
              position: relative;
              background: transparent;

              display: flex;
              justify-content: space-around;
              flex-direction: row-reverse;
              gap: 0.5vmax;
              top: 20px;
              margin-right: 20px;

              div {
                     position: relative;
                     box-shadow: 0px 0px 0px -1px black;
                     height: 40px;
                     aspect-ratio: 1;
                     cursor: pointer;
                     transition: all 0.2s ease;

                     img {
                            scale: 0.7;
                            height: 100%;
                     }

                     &:hover {
                            background: var(--pri2);

                            img {
                                   filter: var(--imgfilter);
                            }
                     }
              }
       }
}


.mobileheaderswitch {
       position: fixed;
       background: rgba(0,0,0,0.5);
       height: 100%;
       width: 100%;
       top: 0px;
       left: 0px;
       pointer-events: none;
       opacity: 0;

       z-index: 9999;
       transition: opacity 0.2s ease;
}