@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
       /* Backgrounds */
       --bg: rgba(11, 11, 13, 1);
       --bg2: rgba(21, 21, 23, 1);
       --bgtrans: rgba(0, 0, 0, 0.2);
       --bgtrans2: rgba(255, 255, 255, 0.1);

       /* Text */
       --txt: rgb(236, 241, 233);

       /* Colors */
       --pri: rgb(236, 39, 39);
       --pri2: rgba(236, 39, 39, 0.2);
       --sec: rgb(248, 122, 49);
       --sec2: rgba(66, 248, 49, 0.2);
       --acc: rgb(255, 208, 0);
       --acc2: rgba(255, 208, 0, 0.5);
}
html {
       touch-action: manipulation;
       background: var(--bg);
}
* {
       margin: 0;
       min-width: 0;
       padding: 0;
       border-radius: 10px;
}
a {
       text-decoration: none;
       color: inherit;
}

body {
       color: var(--txt);
       background: var(--bg);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 30px;
       min-height: 100svh;
       overflow-x: hidden;
}

h1, h2, h3 {
       font-family: fredoka,sans-serif;
       color: var(--txt);
       font-weight: 500;
}
h2 {
       font-family: fredoka,sans-serif;
       font-weight: 400;
}

.trans {
       backdrop-filter: blur(1vmax);
}
.border {
       box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.1);
}

/* Target WebKit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
       width: 10px; /* Adjust width as desired */
}
     
     *::-webkit-scrollbar-track {
       background: transparent; /* Customize track background color */
       border-radius: 10px; /* Add rounded corners */
     }
     
     *::-webkit-scrollbar-thumb {
       background: var(--pri2); /* Customize thumb color */
       border-radius: 10px; /* Add rounded corners */
       transition: all 0.25s ease;
     }
     *::-webkit-scrollbar-thumb:hover {
       background: var(--pri); /* Customize thumb color */
       border-radius: 10px; /* Add rounded corners */
     }

     ::selection {
       color: white; /* Change the text color */
       background-color: var(--pri); /* Change the background color */
     }

.button {
       opacity: 0.8;
       transition: 0.2s ease;
       cursor: pointer;

       &:hover {
              opacity: 1;
       }
}

@media screen and (max-width: 1000px) {
       .desktop {
              display: none;
       }
       .mobile {
              display: auto;
       }
}

@media screen and (min-width: 1001px) {
       .desktop {
              display: auto;
       }
       .mobile {
              display: none;
       }
}
     
