.desktop {
    position: absolute;
    background: black;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}
.desktop > img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

.taskbar {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    backdrop-filter: blur(1vmax);
    height: 2.5vmax;
    aspect-ratio: 1/1;

    bottom: 0.25vmax;
    left: 0.25vmax;

    display: flex;
    flex-direction: rows;
    gap: 0.25vmax;
}

.taskbarsex {
    position: relative;
    border-radius: 0.5vmax;
    background: rgba(255,255,255,0);
    height: 100%;
    aspect-ratio: 1;
    top: 50%;

    translate: 0% -50%;
    transition: background 0.1s ease;
}
.taskbarsex > img {
    position: absolute;
    height: 100%;
    scale: 0.6;
    pointer-events: none;
}
.taskbarinput {
    position: relative;
    border-radius: 0.5vmax;
    font-size: 1vmax;
    font-family: visb,sans-serif;
    color: white;
    background: rgba(255,255,255,0.1);
    height: 100%;
    aspect-ratio: 4/1;
    top: 50%;
    padding-left: 1vmax;
    border: 0;

    translate: 0% -50%;
    transition: box-shadow 0.1s ease;
}
.taskbarinput:focus {
    color: white;
    outline: 0;
    box-shadow: inset 0 -0.25vmax 0px var(--pri);
}

#taskbaritem {
    position: relative;
    border-radius: 0.5vmax;
    background: rgba(255,255,255,0);
    height: 100%;
    aspect-ratio: 1;
    top: 50%;

    translate: 0% -50%;
    transition: background 0.1s ease;
}
#taskbaritem > img {
    position: absolute;
    height: 100%;
    scale: 0.65;
    pointer-events: none;
}

.quickpage {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    backdrop-filter: blur(1vmax);
    height: 25vmax;
    width: 20vmax;

    left: 0.25vmax;
    bottom: 3vmax;
    transition: left 0.2s cubic-bezier(0.22, 1, 0.36, 1);
    z-index: 5;
}

.quickpageprofile {
    position: absolute;
    background: rgba(255,255,255,0);
    border-radius: 0.5vmax;

    left: 0.25vmax;
    bottom: 0.25vmax;

    display: grid;
    grid-template-columns: repeat(5, 3.7vmax);
    grid-template-rows: repeat(1, 3vmax);
    gap: 0.25vmax;
}
.quickpageprofileprofile {
    position: relative;
    background: rgba(255,255,255,0.0);
    border-radius: 0.5vmax;
    cursor: pointer;

    grid-column: 1/5;
    transition: background 0.1s ease;
}
.quickpageprofileprofile > img {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    height: 100%;
}
.quickpageprofileprofile > h2 {
    position: absolute;
    color: white;
    height: 100%;
    left: 4vmax;
    top: 50%;
    translate: 0% -60%;
}
.quickpagepower {
    position: relative;
    background: rgba(255,255,255,0);
    border-radius: 0.5vmax;
    transition: background 0.1s ease;
}
.quickpagepower > img {
    position: absolute;
    border-radius: 0.5vmax;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    scale: 0.5;
}

.poweroff {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    backdrop-filter: blur(1vmax);

    left: 20.5vmax;
    bottom: 3vmax;
    scale: 0;

    display: grid;
    grid-template-columns: repeat(1, 10vmax);
    grid-template-rows: repeat(3, 2.5vmax);
    gap: 0.25vmax;

    transition: opacity 0.2s ease, scale 0.3s ease, left 0.3s ease;
    z-index: 5;
}
.poweroffbutton {
    position: relative;
    background: rgba(255,255,255,0);
    border-radius: 0.5vmax;
    transition: background 0.1s ease;
    cursor: pointer;
}
.poweroffbutton > img {
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    scale: 0.5;
}
.poweroffbutton > h2 {
    position: absolute;
    color: white;
    font-size: 0.9vmax;
    left: 2.5vmax;
    top: 50%;
    translate: 0% -125%;
}

.profile {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    backdrop-filter: blur(1vmax);
    width: 20vmax;
    height: 7vmax;

    left: 0.25vmax;
    bottom: 28.25vmax;
    scale: 1;

    transition: opacity 0.2s ease, scale 0.3s ease, left 0.3s ease;
    z-index: 5;
}


.profile > img {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    height: 70%;
    left: 0.25vmax;
    top: 0.25vmax;
}
.profilesetting {
    position: absolute;
    background: rgba(255,255,255,0);
    border-radius: 0.5vmax;
    top: 0.25vmax;
    right: 0.25vmax;
    width: 2vmax;

    display: flex;
    flex-direction: column;
    gap: 0.25vmax;
}
.profilesettingbutton {
    position: relative;
    background: rgba(255,255,255,0);
    border-radius: 0.5vmax;
    width: 100%;
    aspect-ratio: 1;
    transition: background 0.1s ease;
}
.profilesettingbutton > img {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    scale: 0.7;
}
.profile > .profilename {
    position: absolute;
    color: white;
    font-size: 1.5vmax;
    left: 6vmax;
    top: 50%;
    translate: 0% -170%;
}
.profile > .profilestatus {
    position: absolute;
    color: var(--pri);
    font-size: 1vmax;
    left: 1vmax;
    top: 65%;
}


.quickpagepin {
    position: absolute;
    background: rgba(255,255,255,0);
    border-radius: 0.5vmax;
    top: 0.25vmax;
    left: 0.25vmax;

    width: calc(100% - 0.5vmax);
    height: 5.5vmax;
}
.quickpagepin > h1 {
    position: absolute;
    color: white;
    font-size: 1vmax;

    left: 1vmax;
}
.quickpagepins {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    left: 50%;
    top: 2.5vmax;
    translate: -50% 0%;

    display: grid;
    grid-template-columns: repeat(6, 3vmax);
    grid-template-rows: repeat(1, 3vmax);
    gap: 0.25vmax;
}

.copilot {
    position: absolute;
    background: black;
    opacity: 1;
    width: calc(100% - 0.5vmax);
    border-radius: 01vmax;
    aspect-ratio: 16/7;
    overflow: hidden;

    left: 50%;
    bottom: 3.5vmax;
    translate: -50%;
}
.copilot > img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.copilotgr {
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    height: 100%;
    width: 100%;
    z-index: 50;
    top: 0px;
    left: 0px;
}
.copilotgr > h1 {
    position: absolute;
    color: white;
    font-size: 0.8vmax;
    background: rgba(255,255,255,0.1);
    padding: 0.25vmax 0.5vmax 0.25vmax 0.5vmax;
    border-radius: 0.5vmax;
    width: 70%;
    bottom: 0vmax;
    left: 0.5vmax;
}
.copilotlink {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    height: 2vmax;
    width: 40%;
    padding-right: 0.5vmax;

    top: 0.5vmax;
    left: 0.5vmax;
}
.copilotlink > img {
    position: absolute;
    height: 100%;
    scale: 0.8;
}
.copilotlink > h2 {
    position: relative;
    color: white;
    font-size: 0.8vmax;
    left: 2vmax;
    top: 50%;
    translate: 0% -120%;
}

.taskbar2 {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    backdrop-filter: blur(1vmax);
    height: 2.5vmax;
    aspect-ratio: 1/1;

    bottom: 0.25vmax;
    right: 0.25vmax;

    display: flex;
    flex-direction: row-reverse;
    gap: 0.25vmax;
}
.time {
    position: relative;
    border-radius: 0.5vmax;
    background: rgba(255,255,255,0);
    height: 100%;
    width: 5vmax;
    top: 50%;
    padding-left: 0.5vmax;
    padding-right: 0.5vmax;

    translate: 0% -50%;
    transition: background 0.1s ease;
}
.time > h1 {
    position: relative;
    color: white;
    font-size: 0.8vmax;
    white-space: nowrap;
    text-align: right;
    margin-top: 0.4vmax;
}
#dateandtime {
    top: 50%;
    translate: 0% -150%;
}
#dateandtime2 {
    top: 50%;
    translate: 0% -200%;
}
.taskbar2 > .taskbaritem > img {
    scale: 0.5;
}
#taskbaritem > h1 {
    position: absolute;
    color: white;
    font-size: 0.9vmax;

    left: 50%;
    top: 50%;
    translate: -50% -110%;
}


.edge {
    position: absolute;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5vmax);
    width: 100%;
    height: calc(100% - 3vmax);
    opacity: 0;
    scale: 0.8;

    top: 0px;
    left: 0px;

    transition: all 0.3s ease;
}
.edgetabs {
    position: absolute;
    background: rgba(146, 95, 95, 0);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2vmax;
}
.edgetabs > img {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    height: 90%;
    left: 0.1vmax;
    top: 50%;
    translate: 0% -50%;
}
.edgetabstabs {
    position: absolute;
    background: rgba(255,255,255,0);
    border-radius: 0.5vmax;
    height: 90%;
    left: 2.5vmax;
    top: 50%;
    translate: 0% -50%;

    display: flex;
    flex-direction: row;
    gap: 0.25vmax;
}
.edgetabswindow {
    position: relative;
    background: rgba(255,255,255,0.1);
    box-shadow: inset 0px -0.2vmax 0px var(--pri);
    border-radius: 0.5vmax;
    height: 100%;
    aspect-ratio: 5/1
}
.edgetabswindow > img {
    position: absolute;
    height: 100%;
    scale: 0.5;
}
.edgetabswindow > h1 {
    position: absolute;
    color: white;
    font-size: 0.8vmax;
    left: 2vmax;
    top: 50%;
    translate: 0% -110%;
}
.edgetabswindownew {
    position: relative;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    height: 100%;
    aspect-ratio: 1/1
}
.edgetabswindownew > .cross {
    position: absolute;
    background: white;
    border-radius: 0.5vmax;
    height: 100%;
    width: 0.3vmax;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    scale: 0.4;
}
.cross:nth-child(2) {
    rotate: 90deg;
}

.edgetabswindowcontrols {
    position: absolute;
    background: transparent;
    height: 100%;
    aspect-ratio: 1;

    top: 0px;
    right: 0px;

    display: flex;
    flex-direction: row-reverse;
    gap: 0.25vmax;
}
.edgetabcontrol {
    position: relative;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    height: 100%;
    aspect-ratio: 2/1;

    transition: background 0.3s ease;
}
.edgetabcontrol > img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    scale: 0.6;
}

.edgeadress {
    position: absolute;
    background: rgba(146, 95, 95, 0);
    top: 2.25vmax;
    left: 0px;
    width: 100%;
    height: 2vmax;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25vmax;
}
.edgeadressbutton {
    position: relative;
    background: rgba(255,255,255,0.1);
    border-radius: 0.5vmax;
    height: 100%;
    aspect-ratio: 1/1;
}
.edgeadressbutton > img {
    position: relative;
    height: 100%;
    scale: 0.5;
}

.edgeadressbar {
    position: relative;
    border-radius: 0.5vmax;
    font-size: 1vmax;
    font-family: visb,sans-serif;
    color: white;
    background: rgba(255,255,255,0.1);
    height: 100%;
    aspect-ratio: 25/1;
    top: 50%;
    padding-left: 1vmax;
    border: 0;

    translate: 0% -50%;
    transition: box-shadow 0.1s ease;
}
.edgeadressbar:focus {
    color: white;
    outline: 0;
    box-shadow: inset 0 -0.25vmax 0px var(--pri);
}

.edgewindow {
    position: absolute;
    background: rgba(0,0,0);
    width: calc(100% - 1vmax);
    height: calc(100% - 5.25vmax);
    border-radius: 0.5vmax;

    left: 0.5vmax;
    bottom: 0.5vmax;
}
.edgewebsite {
    position: absolute;
    background: rgba(20,20,30);
    width: 100%;
    height: 100%;
    border-radius: 0.5vmax;

    left: 0vmax;
    bottom: 0vmax;
    overflow: hidden;
}
.edgewebsitenavbar {
    position: absolute;
    background: rgba(30,30,50);
    width: 100%;
    height: 3vmax;

    top: 0px;
    left: 0px;
}
.edgewebsitenavbar > img {
    position: absolute;
    height: 100%;

    top: 0px;
    left: 0px;
    scale: 0.7;
}
.edgewebsitenavbar > h1 {
    position: absolute;
    color: lightgray;
    font-size: 1.25vmax;

    top: 0px;
    left: 3vmax;
}

.edgewebsitecentre {
    position: absolute;
    background: transparent;
    width: 75vmax;
    height: 30vmax;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.edgewebsitecentre > h1 {
    position: relative;
    color: var(--pri);
    text-align: center;
    font-size: 3vmax;

    top: 50%;
    translate: 0% -200%
}
.edgewebsitecentre > h2 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.5vmax;
    width: 75%;

    top: 50%;
    left: 50%;
    translate: -50% -200%
}
.edgewebsiteblob {
    position: absolute;
    background: linear-gradient(to right, var(--pri), var(--acc));
    height: 25vmax;
    aspect-ratio: 1;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    filter: blur(10vmax);
}