.installstartwindow1button1:hover, .installstartwindow2button1:hover, .installstartwindow3button1:hover {
    background: var(--bg);
    box-shadow: 0px 0px 2vmax 0px var(--shadow);
    scale: 1.1;
}

.installdark:hover {
    scale: 1.05;
    box-shadow: 0px 0px 0px 0.25vmax var(--pri);
}
.installlight:hover {
    scale: 1.05;
    box-shadow: 0px 0px 0px 0.25vmax var(--pri);
}

.taskbarsex:hover,
#taskbaritem:hover,
.quickpagepower:hover,
.quickpageprofileprofile:hover,
.poweroffbutton:hover,
.profilesettingbutton:hover,
.time:hover {
    background: rgba(255,255,255,0.1);
}
#edgeexit:hover {
    background: rgb(255, 43, 43);
}
#edgeminize:hover {
    background: rgb(37, 37, 37);
}