.installbackground1, .installbackground2, .installbackground3
, .installbackground4 {
    position: absolute;
    border-radius: 50vmax;
    width: 15vmax;
    height: 15vmax;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.installbackground1 {
    top: 20%;
    left: 20%;
}
.installbackground2 {
    top: 60%;
    left: 80%;
}
.installbackground3 {
    top: 25%;
    left: 30%;
}
.installbackground4 {
    top: 80%;
    left: 77%;
}

.installstartwindow1, .installstartwindow2, .installstartwindow3 {
    position: absolute;
    background: var(--bgsep);
    backdrop-filter: blur(7vmax);
    box-shadow: 0px 0px 0px 0.1vmax var(--out),
    0px 0px 1vmax 0px var(--shadow);
    border-radius: 1vmax;
    width: 70vmax;
    height: 40vmax;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.installstartwindow2, .installstartwindow3, .installstartwindow4 {
    opacity: 0;
    scale: 0;
    pointer-events: none;
}


.installstartwindow1title, .installstartwindow2title {
    position: absolute;
    left: 1.5vmax;
    color: var(--txtd);
}
.installstartwindow1titletitle {
    padding-left: 0.5vmax;
    padding-right: 0.5vmax;
    background: var(--txtback);
    border-radius: 1vmax;
}

.installstartwindow1desc {
    top: 2.5vmax;
    position: absolute;
    left: 1.5vmax;
    opacity: 0.5;
    color: var(--txtd);
}

.installstartwindow1button1, .installstartwindow2button1, .installstartwindow3button1 {
    position: absolute;
    right: 1.5vmax;
    bottom: 0.5vmax;
    background: var(--bgsep);
    border-radius: 1vmax;
    color: var(--txtd);
    padding-left: 1vmax;
    padding-right: 1vmax;
    padding-top: 0.5vmax;
    padding-bottom: 0.5vmax;

    cursor: pointer;

    transition: background 0.3s ease, box-shadow 0.5s ease, scale 1s ease;
}

.installstartwindow1explanation {
    position: absolute;
    text-align: center;
    background: linear-gradient(to right, var(--sec), var(--sec2), var(--sec));
    background-size: 200% 100%;
    background-position: 0% center;
    border-radius: 1vmax;
    padding-left: 2vmax;
    padding-right: 2vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;

    width: 75%;
    left: 50%;
    top: 50%;
    color: var(--txtd);
    translate: -50% -50%;

    animation: backgroundgradient infinite linear 3s;
}

.installstartwindow2input {
    position: absolute;
    background: var(--bgsep);
    border-radius: 1vmax;
    color: black;
    border: none;
    font-family: visb,sans-serif;
    font-size: 1.5vmax;
    text-align: center;

    height: 3vmax;
    width: 50%;

    top: 50%;
    left: 50%;
    translate: -50% -0%;

    transition: background 0.3s ease;
}
.installstartwindow2input:focus {
    outline: none;
    background: white;
}


.installstartwindow3selector {
    position: absolute;
    background: transparent;
    width: 50vmax;
    height: 25vmax;

    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
.installdark, .installlight {
    position: absolute;
    background: #181818;
    box-shadow: 0px 0px 0px 0.1vmax var(--out),
    0px 0px 1vmax 0px var(--shadow);
    border-radius: 1vmax;

    width: calc(50% - 0.5vmax);
    height: 100%;

    overflow: hidden;

    transition: scale 0.5s ease, box-shadow 0.5s ease;
}
.installlight {
    right: 0px;
    background: #dcdcdc;
}
.installdark > .bowel {
    background: #282828;
}
.installlight > .bowel {
    background: #adadad;
}
.installdark > .bowel > .boweltext {
    color: var(--txt);
}

.bowel {
    position: absolute;
    background: var(--bg1);
    width: 100%;
    height: 3vmax;

    bottom: 0px;
    z-index: 1;
}
.boweltext {
    position: absolute;

    left: 1vmax;
    top: -0.4vmax;
}
.bowelbox, .bowelbox2 {
    position: absolute;
    background: #282828;
    border-radius: 1vmax;

    left: 50%;
    top: 50%;
    translate: -50% -150%;
    width: 5vmax;
    height: 5vmax;
    z-index: 1;
}
.bowelbox {
    translate: 5% -150%;
}
.bowelbox2 {
    translate: -105% -150%;
}
.bowelbox3 {
    position: absolute;
    background: #282828;
    border-radius: 1vmax;

    left: 50%;
    top: 50%;
    translate: -50% -40%;
    width: calc(10vmax + 2.5%);
    height: 5vmax;

    z-index: 1;
}


.bowelcircle, .bowelcircle2 {
    position: absolute;
    background: black;
    border-radius: 50vmax;
    filter: blur(3vmax);

    left: 50%;
    top: 50%;
    translate: -50% -100%;
    width: 5vmax;
    height: 5vmax;

    scale: 1;
}
.bowelcircle {
    translate: -0% -200%;
    background: var(--pri);
}
.bowelcircle2 {
    translate: -100% 50%;
    background: var(--acc);
}

.installlight > .bowelbox,
.installlight > .bowelbox2,
.installlight > .bowelbox3 {
    background: #adadad;
}


.installstartwindow4 {
    position: absolute;
    background: var(--bgsep);
    backdrop-filter: blur(7vmax);
    box-shadow: 0px 0px 0px 0.1vmax var(--out),
    0px 0px 1vmax 0px var(--shadow);
    border-radius: 1vmax;
    width: 70vmax;
    height: 40vmax;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.installstartwindow4load {
    position: absolute;
    color: var(--txtd);
    text-align: center;

    top: 50%;
    left: 50%;
    translate: -50% -150%;
}
.installstartwindow4loader {
    position: absolute;
    background: var(--bg1);
    border-radius: 50vmax;
    width: 25vmax;
    height: 0.5vmax;

    top: 50%;
    left: 50%;
    translate: -50% 150%;

    overflow: hidden;
}
.installstartwindow4loaderactive {
    position: absolute;
    background: var(--pri);
    border-radius: 50vmax;
    width: 100%;
    height: 100%;

    top: 0%;
    left: 0%;
    translate: -100% -0%;

    animation: loadingactive infinite ease-in-out 5s;
}
.installstartwindow4loaderactivesmall {
    position: absolute;
    background: var(--pri);
    border-radius: 50vmax;
    width: 10%;
    height: 100%;

    top: 0%;
    left: 0%;
    translate: -100% -0%;

    animation: loadingactivesmall infinite ease-in-out 5s;
}

