body {
    background: var(--bg);
    overflow: hidden;
}
h1 {
    font-family: visr,sans-serif;
    font-size: 1.75vmax;
}
h2 {
    font-family: visr,sans-serif;
    font-size: 1.25vmax;
}

::selection {
    background: transparent; /* Your preferred color */
    color: inherit; /* Color of the selected text */
}

#jerry {
    position: fixed;
    z-index: 99999;
    background: transparent;
    height: 1.2vmax;
    aspect-ratio: 1;
    pointer-events: none;
}
#jerry > img {
    height: 100%;
    position: absolute;
    left: -0.2vmax;
}

* {
    cursor: none !important;
}