body > img {
       position: fixed;
       left: 50%;
       height: 100%;
       translate: -50%;
}

.section1 {
       position: absolute;
       background: transparent;
       height: 100%;
       width: 100%;

       display: flex;
       justify-content: center;
       align-items: center;
       gap: 0.25vmax;
       flex-direction: column;

       animation: section1 1s 5s ease forwards;

       h1 {
              font-size: 3vmax;
              color: var(--pri);
       }
       div {
              position: relative;
              height: 1vmax;
              width: 20vmax;
              background: var(--pri2);
              overflow: hidden;

              .loading {
                     position: absolute;
                     background: var(--pri);
                     height: 100%;
                     width: 3vmax;
                     left: -100%;
                     animation: loading 3s ease infinite;
              }
       }
}
.section2 {
       position: absolute;
       background: transparent;
       height: 100%;
       width: 100%;
       opacity: 0;
       scale: 0;
       pointer-events: none;

       display: flex;
       justify-content: center;
       align-items: center;
       gap: 0.25vmax;
       flex-direction: column;

       animation: section2 1s 5s ease forwards;

       .error {
              position: absolute;
              box-shadow: inset 0px 0vmax 0px 0.1vmax red;
              translate: 0% 0%;
              transition: all 0.3s ease;

              h1 {
                     color: var(--txt);
                     font-size: 1.2vmax;
              }
       }

       div {
              position: relative;
              background: var(--bg2);

              width: 35vmax;
              padding: 2vmax 0vmax;

              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.25vmax;
              flex-direction: column;

              h1 {
                     font-size: 3vmax;
                     color: var(--pri);
              }
              .sepe {
                     height: 1vmax;
                     width: 10px;
                     padding: 0;
                     position: relative;
                     background: transparent;
              }
              input {
                     width: 65%;
                     height: 3vmax;
                     font-size: 1vmax;
                     color: var(--txt);
                     font-family: poppins,sans-serif;
                     padding: 0vmax 2vmax;
                     background: var(--bgtrans);
                     border: 0;

                     transition: all 0.2s ease;

                     &:focus {
                            outline: 0;
                            box-shadow: 0px 0.1vmax 0vmax 0px var(--pri);
                     }
              }
              .login {
                     font-size: 1.42vmax;
                     background: var(--bgtrans);
                     color: var(--txt);
                     padding: 0.25vmax 1vmax;
                     cursor: pointer;

                     transition: all 0.3s ease;
              }
       }
}

.section3 {
       position: absolute;
       background: transparent;
       height: 100%;
       width: 100%;
       opacity: 0;
       scale: 0;
       pointer-events: none;

       display: flex;
       justify-content: center;
       align-items: center;
       gap: 0.25vmax;
       flex-direction: column;

       div {
              position: relative;
              background: var(--bg2);

              width: 50vmax;
              padding: 1vmax 0vmax;

              display: flex;
              justify-content: center;
              align-items: left;
              gap: 0.25vmax;
              flex-direction: column;

              h1 {
                     color: var(--pri);
                     font-size: 1.6vmax;
                     text-align: left;
                     margin-left: 2vmax;
              }
              &:nth-child(2) {
                     flex-direction: row;
                     justify-content: space-between;

                     h1 {
                            color: var(--txt);
                            font-size: 1.2vmax;
                            justify-self: center;
                            align-self: center;
                     }
                     .selector {
                            position: relative;
                            height: calc(100% - 0vmax);
                            background: var(--bgtrans);
                            width: 16vmax;
                            margin-top: -2vmax;
                            top: 1vmax;
                            flex-direction: column;
                            gap: 0.5vmax;

                            .button {
                                   font-size: 1.6vmax;
                                   align-self: flex-end;
                                   margin-right: 2vmax;
                                   padding: 0.25vmax 1vmax;
                                   cursor: pointer;
                                   transition: all 0.1s ease;
                            }
                     }
              }
       }
}

.section4 {
       position: absolute;
       background: transparent;
       height: 100%;
       width: 100%;
       opacity: 0;
       scale: 0;
       pointer-events: none;

       display: flex;
       justify-content: center;
       align-items: center;
       gap: 0.25vmax;
       flex-direction: column;

       div {
              position: relative;
              background: var(--bg2);

              width: 50vmax;
              padding: 1vmax 0vmax;

              display: flex;
              justify-content: center;
              align-items: left;
              gap: 0.25vmax;
              flex-direction: column;

              h1 {
                     color: var(--pri);
                     font-size: 1.6vmax;
                     text-align: left;
                     margin-left: 2vmax;
              }
              &:nth-child(2) {
                     flex-direction: row;
                     justify-content: space-between;

                     h1 {
                            color: var(--txt);
                            font-size: 1.2vmax;
                            justify-self: center;
                            align-self: center;
                            font-size: 1.6vmax;
                            align-self: flex-end;
                            margin-right: 2vmax;
                            padding: 0.25vmax 1vmax;
                            cursor: pointer;
                            transition: all 0.25s ease;
                     }
                     #old {
                            border-radius: 0px; 
                            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            transition: all 0s ease !important; 
                     }
                     #old:hover {
                          border-radius: 0px;  
                          color: black;
                          background: var(--pri);
                     }
                     #apple {
                            backdrop-filter: blur(1vmax);
                            border-radius: 2vmax; 
                            background: var(--bgtrans);
                            font-weight: 400;
                            transition: all 0.5s ease !important; 
                            box-shadow: inset 0px 0vmax 0.5vmax 0px rgba(255,255,255,0.2);
                     }
                     #apple:hover {
                            color: white;
                            box-shadow: 
                                   inset 0px 0px 1vmax 0px rgba(255,255,255,0.2),
                                   0px 0px 0.25vmax 0.25px rgba(255,255,255,1);
                       }
              }
       }
}

