#explorer {
       .canvas {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;

              .sep {
                     height: 100%;
              }
              .category {
                     height: 100%;
                     width: 250px;
                     background: transparent;
                     display: flex;
                     flex-direction: column;
                     justify-content: top;
                     align-items: center;

                     .first {
                            margin-top: 15px;
                     }
                     h2 {
                            position: relative;
                            font-size: 15px;
                            padding: 5px 15px;
                            width: calc(100% - 55px);
                            background: transparent;
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            cursor: pointer;

                            &.active {
                                   div {
                                          height: 50%;
                                   }
                            }
                            &:hover {
                                   background: var(--bgtrans);
                            }

                            div {
                                   position: absolute;
                                   background: var(--pri);
                                   left: 0px;
                                   height: 0%;
                                   width: 5px;
                                   transition: 0.3s ease;
                            }
                            img {
                                   border-radius: 0px !important;
                                   height: 20px;
                            }
                     }
                     hr {
                            margin-top: 5px;
                            margin-bottom: 5px;
                            width: 75%;
                     }
              }
              .screen {
                     height: 100%;
                     flex-grow: 1;
                     background: transparent;
                     display: flex;
                     flex-direction: column;

                     #explorerhome {
                            .grid {
                                   margin-top: 10px;
                                   background: transparent;
                                   display: grid;
                                   width: 100%;
                                   height: 100%;
                                   grid-template-columns: repeat(3, 32.3%);
                                   grid-template-rows: repeat(5, 100px);
                                   gap: 10px;

                                   div {
                                          position: relative;
                                          background: var(--bgtrans);
                                          padding: 10px;
                                   }
                                   .disk {
                                          grid-row: 1/3;

                                          h3 {
                                                 color: var(--pri);
                                                 font-size: 30px;
                                          }
                                          h2 {
                                                 margin-top: 5px;
                                                 font-size: 15px;
                                          }
                                   }
                            }
                     }
              }
       }
}