#background {
       position: absolute;
       width: 100%;
       height: 100%;
       object-fit: cover;
       z-index: 0;
}
#clicker {
       background: transparent;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap:  30px;

       #clicker-object {
              aspect-ratio: 1;
              background: transparent;
              cursor: pointer;
              height: 200px;
              animation: rock-hover ease-in-out infinite;
              animation-duration: 2s;
              transition: 0.5s ease;

              &.animate {
                     animation: rock-click 0.1s forwards,
                            rock-hover ease-in-out infinite; /* Duration of the animation */
              }
              &:hover {
                     scale: 1.2;
                     animation-duration: 1s;
              }

              img {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     scale: 1.2;
              }
       }
}
#stats {
       position: fixed;
       z-index: 100;
       background: transparent;
       display: flex;
       flex-direction: row;
       bottom: 5px;
       width: calc(100% - 10px);
       gap: 5px;
       
       .item {
              position: relative;
              gap: 5px;
              padding: 0px 10px 0px 0px;
              background: var(--bgtrans);
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                     height: 30px;
              }
              h3 {
                     font-size: 15px;

              }
       }
}
#menu {
       position: fixed;
       z-index: 100;
       background: transparent;
       display: flex;
       flex-direction: column;
       gap: 5px;
       top: 5px;
       left: 5px;

       div {
              background: var(--bgtrans);
              aspect-ratio: 1;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              &:hover {
                     span {
                            color: var(--pri);
                     }
              }

              span {
                     transition: 0.2s ease;
              }
       }
}


@keyframes rock-hover {
       from {
              rotate: -3deg;
       }
       50% {
              rotate: 3deg;
       }
       to {
              rotate: -3deg;
       }
}
@keyframes rock-click {
       from {
              scale: 1;
       }
       to {
              scale: 1.2;
       }
}