#hero {
       position: relative;
       background: var(--bg2);
       width: calc(100% - 20px);
       padding: 100px 0px;
       margin-top: 100px;
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;

       h1 {
              color: var(--pri);
              font-size: 60px;
       }

       .image, .image2 {
              position: absolute;
              border-radius: 25px;
              aspect-ratio: 1;
              height: 150px;
              opacity: 0.5;
       }
       .image {
              z-index: 2;

              &:nth-child(2) {
                     bottom: -20px;
                     left: -30px;
                     rotate: 30deg;
              }
       }
       .image2 {
              filter: blur(1vmax);
              z-index: 1;

              &:nth-child(3) {
                     bottom: -20px;
                     left: 10px;
                     rotate: 10deg;
              }
       }
}

.headfooter {
       position: fixed;
       background: var(--bgtrans);
       bottom: 10px;
       right: 10px;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 10px;
       padding: 15px 20px;
       cursor: pointer;
       transition: 0.2s ease;

       &:hover {
              background: var(--pri2);

              h2 {
                     color: var(--pri);
              }
       }

       span {
              font-weight: 600;
              color: var(--pri);
       }
       h2 {
              font-size: 20px;
              transition: 0.2s ease;
       }
}

.createpost {
       position: fixed;
       background: var(--bgtrans);
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       justify-self: center;
       align-self: center;
       backdrop-filter: blur(1vmax);
       gap: 10px;
       z-index: 100;
       
       form {
              position: absolute;
              background: var(--bg2);
              padding: 10px 10px;
              max-width: 90%;
              max-height: 500px;
              display: flex;
              flex-direction: column;
              justify-content: left;
              align-items: center;
              gap: 10px;
              overflow-y: scroll;
              overflow-x: hidden;

              h1 {
                     color: var(--pri);
                     font-size: 30px;
              }
              h2 {
                     font-size: 12px;
                     opacity: 0.8;
                     width: 90%;
              }
              button {
                     background: var(--bgtrans);
                     width: 100%;
                     padding: 10px 0px;
                     color: white;
                     outline: 0;
                     border: 0;
                     font-family: comfortaa,sans-serif;
                     font-size: 20px;
                     cursor: pointer;
                     transition: 0.3s ease;

                     &:hover {
                            background: var(--pri2);
                            color: var(--pri);
                     }

              }

              .item {
                     position: relative;
                     background: var(--bgtrans);
                     padding: 20px 20px;
                     width: calc(100% - 20px);
                     min-width: 300px;
                     display: flex;
                     flex-direction: column;
                     gap: 3px;

                     h2 {
                            font-size: 15px;
                            opacity: 0.6;
                     }
                     input[type="radio"] {
                            opacity: 1;
                            cursor: pointer;
                            height: 25px;
                            width: 25px;
                            background-color: #a35d5d;
                            border-radius: 50%;
                     }
                     input[type="text"] {
                            background: var(--bg);
                            border-radius: 10px !important;
                            outline: 0;
                            border: 0;
                            padding: 10px 20px;
                            color: var(--txt);
                            font-family: comfortaa,sans-serif;
                     }
                     .gap {
                            margin-bottom: 15px;
                     }
              }
       }

}