.section {
       position: relative;
       background: transparent;
       width: 100%;
       height: 100svh;

       display: flex;
       justify-content: center;
       align-items: center;

       div {
              position: relative;
              background: var(--bg2);
              width: 90vmax;
              height: 30vmax;
              overflow: hidden;

              img {
                     position: absolute;
                     height: 15vmax;
                     aspect-ratio: 1;
                     opacity: 1;
                     filter: blur(0vmax);
                     z-index: 1;

                     bottom: 1vmax;
                     left: 1vmax;
                     animation: 
                            wind 3s ease-in-out infinite;
              }

              .circles li{
                     position: absolute;
                     display: block;
                     list-style: none;
                     width: 1vmax;
                     height: 1vmax;
                     background: var(--pri);
                     box-shadow: 0px 0px 0px 0.5vmax var(--pri2);
                     animation: animate 5s linear infinite;
                     bottom: -175px;
                     scale: 1;

                     z-index: 0;
                     
                 }
                 
                 .circles li:nth-child(1){
                     left: 25%;
                     animation-delay: 1s;
                 }
                 
                 
                 .circles li:nth-child(2){
                     left: 10%;
                     animation-delay: 0s;
                 }
                 
                 .circles li:nth-child(3){
                     left: 70%;
                     animation-delay: 5s;
                 }
                 
                 .circles li:nth-child(4){
                     left: 40%;
                     animation-delay: 3s;
                 }
                 
                 .circles li:nth-child(5){
                     left: 65%;
                     animation-delay: 7s;
                 }
                 
                 .circles li:nth-child(6){
                     left: 75%;
                     animation-delay: 0.5s;
                 }
                 
                 .circles li:nth-child(7){
                     left: 35%;
                     animation-delay: 3.5s;
                 }
                 
                 .circles li:nth-child(8){
                     left: 50%;
                     animation-delay: 4.5s;
                 }
                 
                 .circles li:nth-child(9){
                     left: 20%;
                     animation-delay: 2.5s;
                 }
                 
                 .circles li:nth-child(10){
                     left: 85%;
                     animation-delay: 1.5s;
                 }

       }

       .decor {
              position: absolute;
              background: var(--pri);
              width: 15vmax;
              border-radius: 50%;
              height: 15vmax;
              filter: blur(10vmax);

              left: 50%;
              top: 50%;
              translate: -50% -50%;
              animation: titlepopup 1s ease 0s forwards;
       }
       .grid {
              position: absolute;
              background: transparent;
              width: 70vmax;
              height: 32vmax;

              left: 50%;
              top: 50%;
              translate: -50% -50%;  

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 0px;
              scale: 0;

              animation: titlepopup 1.25s ease 0.25s forwards;

              h1 {
                     font-size: 8vmax;
                     line-height: 7vmax;
                     align-self: flex-end;
                     font-family: comfortaa,sans-serif;
                     font-weight: 800;

                     &:nth-child(2) {
                            align-self: flex-start;  
                     }
                     &:nth-child(3) {
                            align-self: flex-end;  
                     }
              }
              .decorgridsparkle {
                    position: relative;
                     color: var(--pri);
              }
       }
}
.mobilesection {
       position: relative;
       background: transparent;
       width: 100%;
       height: 100svh;

       display: flex;
       justify-content: center;
       align-items: center;

       div {
              position: relative;
              background: var(--mbg2);
              width: 90%;
              height: 50vmax;

              img {
                     position: absolute;
                     height: 20vmax;
                     aspect-ratio: 1;
                     opacity: 1;
                     filter: blur(0vmax);
                     z-index: -1;

                     top: -18vmax;
                     left: 1vmax;
                     animation: 
                            wind 3s ease-in-out infinite;
              }

              .circles li{
                     position: absolute;
                     display: block;
                     list-style: none;
                     width: 2vmax;
                     height: 2vmax;
                     background: var(--pri);
                     box-shadow: 0px 0px 0px 0.5vmax var(--pri2);
                     animation: animate 5s linear infinite;
                     bottom: -5px;
                     scale: 1;
                     opacity: 0;

                     z-index: 0;
                     
                 }
                 
                 .circles li:nth-child(1){
                     left: 25%;
                     animation-delay: 1s;
                 }
                 
                 
                 .circles li:nth-child(2){
                     left: 10%;
                     animation-delay: 0s;
                 }
                 
                 .circles li:nth-child(3){
                     left: 70%;
                     animation-delay: 5s;
                 }
                 
                 .circles li:nth-child(4){
                     left: 40%;
                     animation-delay: 3s;
                 }
                 
                 .circles li:nth-child(5){
                     left: 65%;
                     animation-delay: 7s;
                 }
                 
                 .circles li:nth-child(6){
                     left: 75%;
                     animation-delay: 0.5s;
                 }
                 
                 .circles li:nth-child(7){
                     left: 35%;
                     animation-delay: 3.5s;
                 }
                 
                 .circles li:nth-child(8){
                     left: 50%;
                     animation-delay: 4.5s;
                 }
                 
                 .circles li:nth-child(9){
                     left: 20%;
                     animation-delay: 2.5s;
                 }
                 
                 .circles li:nth-child(10){
                     left: 85%;
                     animation-delay: 1.5s;
                 }

       }

       .decor {
              position: absolute;
              background: var(--pri);
              width: 20vmax;
              border-radius: 50%;
              height: 20vmax;
              filter: blur(10vmax);

              left: 50%;
              top: 50%;
              translate: -50% -50%;
              animation: titlepopup 1s ease 0s forwards;
       }
       .grid {
              position: absolute;
              background: transparent;
              width: 40vmax;
              height: 32vmax;

              left: 50%;
              top: 50%;
              translate: -50% -50%;  

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 0px;
              scale: 0;

              animation: titlepopup 1.25s ease 0.25s forwards;

              h1 {
                     font-size: 8vmax;
                     line-height: 7vmax;
                     align-self: flex-end;

                     &:nth-child(2) {
                            align-self: flex-start;  
                     }
                     &:nth-child(3) {
                            align-self: flex-end;  
                     }
              }
              .decorgridsparkle {
                     color: var(--pri);
              }
       }
}

.section2 {
       position: relative;
       background: transparent;
       width: 100%;
       height: 100svh;

       .grid2 {
              position: absolute;
              background: black;

              left: 50%;
              top: 50%;
              translate: -50% -50%;  

              display: grid;
              grid-template-columns: repeat(3, 24vmax);
              grid-template-rows: repeat(2, 11vmax);
              gap: 0.5vmax;

              div {
                     background: var(--bg2);
              }
       }
}