html {
       touch-action: manipulation;
       background: var(--bg);
}
* {
       margin: 0;
       min-width: 0;
       padding: 0;
}
a {
       text-decoration: none;
       color: inherit;
}
body {
       color: var(--txt);
       background: var(--bg);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 0px;
       min-height: 100svh;
}
h1 {
       font-family: var(--text-primary);
}
h2, h3, h4, h5, h6 {
       font-family: var(--text-secondary);
}

.weight-300 {
       font-weight: 300 !important;
}
.weight-400 {
       font-weight: 400 !important;
}
.weight-500 {
       font-weight: 500 !important;
}
.weight-600 {
       font-weight: 600 !important;
}
.weight-700 {
       font-weight: 700 !important;
}



.relative {
       position: relative;
}
.absolute {
       position: absolute;
}



.bg {
       background: var(--bg);
}
.bg2 {
       background: var(--bg2);
}




.flex-center {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
}
.txt-pri {
       color: var(--pri);
}

.fill {
       height: 100svh;
       width: 100%;
       padding: 0 !important;
}

.txt-size {
       font-size: 4rem;
}
.txt-center {
       text-align: center;
}
.opacity-half {
       opacity: 0.5;
}

.bottom {
       bottom: 0px;
}
.bottom-10 {
       bottom: 10px;
}
