@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
       font-family: 'bmmini';
       src: url('fonts/BMmini.TTF') format('truetype');
       font-weight: bold;
       font-style: normal;
}

:root {
       /* Backgrounds */
       --bg: rgba(11, 11, 13, 1);
       --bg2: rgba(16, 16, 18, 1);
       --bgtrans: rgba(0, 0, 0, 0.2);
       --bgtrans2: rgba(255, 255, 255, 0.01);

       /* Text */
       --txt: rgb(236, 241, 233);

       /* Colors */
       --pri: rgb(236, 39, 39);
       --pri2: rgba(236, 39, 39, 0.2);
       --sec: rgb(253, 114, 114);

       /* Some important stuff */
       --header-width: auto;
}
html {
       touch-action: manipulation;
       background: var(--bg);
}
* {
       margin: 0;
       min-width: 0;
       padding: 0;
       border-radius: 10px;
       box-sizing: border-box;
       font-family: 'lexend',sans-serif;
}
a {
       text-decoration: none;
       color: inherit;
}

body {
       color: var(--txt);
       background: var(--bg);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 30px;
       min-height: 100svh;
       overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, div {
       color: var(--txt);
       font-weight: 500;
       letter-spacing: -0.8px;
       text-rendering: geometricPrecision;
}
h1 {
       line-height: 0.8;
}
h2 {
       font-weight: 300;
       line-height: 1.5;
       letter-spacing: 0;
}


/* Target WebKit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
       width: 10px; /* Adjust width as desired */
}
     
*::-webkit-scrollbar-track {
       background: transparent; /* Customize track background color */
       border-radius: 10px; /* Add rounded corners */
}
     
*::-webkit-scrollbar-thumb {
       background: var(--pri2); /* Customize thumb color */
       border-radius: 10px; /* Add rounded corners */
       transition: all 0.25s ease;
}
*::-webkit-scrollbar-thumb:hover {
       background: var(--pri); /* Customize thumb color */
       border-radius: 10px; /* Add rounded corners */
}

::selection {
       color: white; /* Change the text color */
       background-color: var(--bgtrans); /* Change the background color */
}

.trans {
       backdrop-filter: url(#trans);
       
       &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0px;
              left: 0px;
              backdrop-filter: url(#trans);
              border-radius: 10px;
              z-index: -1;
              justify-self: center;
              align-self: center;
              scale: 1;
       }
}
.border {
       box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.1);
}
.button {
       cursor: pointer;
       
       &:active {
              transform: scale(0.9);
       }
}