.header {
       position: fixed;
       background: var(--bgtrans);
       width: calc(100% - 20px);
       min-height: 4vmax;
       top: 10px;

       display: flex;
       flex-direction: row;
       align-items: center;
       overflow: hidden;
       z-index: 10000;

       img {
              position: absolute;
              height: 100%;
       }

       &:hover {
              #headerdecoration {
                     opacity: 0.75;
              }
       }

       #headerdecoration {
              position: absolute;
              border-radius: 50%;
              background: var(--pri);
              height: 8vmax;
              aspect-ratio: 1;
              opacity: 0;
              z-index: -1;
              filter: blur(5vmax);

              translate: -50% -50%;
              transition: opacity 0.5s ease;
       }

       .items {
              position: relative;
              background: transparent;
              left: 5vmax;
              

              display: flex;
              flex-direction: row;
              gap: 0.5vmax;

              h1 {
                     position: relative;
                     background: var(--bgtrans);
                     box-shadow: 0px 0px 0px -1px black;
                     font-size: 1vmax;
                     padding: 0.25vmax 0.75vmax 0.25vmax 0.75vmax;
                     cursor: pointer;
                     transition: all 0.2s ease;
              }
       }
       .items2 {
              position: absolute;
              background: transparent;
              right: 1vmax;
              height: 50%;

              display: flex;
              flex-direction: row-reverse;
              gap: 0.5vmax;

              div {
                     position: relative;
                     background: var(--bgtrans);
                     box-shadow: 0px 0px 0px -1px black;
                     height: 100%;
                     aspect-ratio: 1;
                     cursor: pointer;
                     transition: all 0.2s ease;

                     img {
                            scale: 0.7;
                     }

                     &:hover {
                            background: var(--pri2);
                            box-shadow: 0px 0.25vmax 0.75vmax 0px black;

                            img {
                                   filter: var(--imgfilter);
                            }
                     }
              }
       }
}

.mobileheader {
       position: fixed;
       background: var(--mbg2);
       width: calc(100% - 100px);
       box-shadow: 0px 1vmax 2vmax 0vmax rgba(0, 4, 19, 0.541);
       height: 10vmax;
       bottom: 50px;
       left: 50%;
       translate: -50% 0%;

       display: flex;
       flex-direction: row;
       align-items: center;
       overflow: hidden;
       z-index: 10000;
       transition: height 0.5s ease-in-out;

       img {
              position: absolute;
              height: 10vmax;
              top: 0px;
       }

       &:focus {
              height: 30vmax;
       }

       .items {
              position: absolute;
              background: var(--bgtrans);
              left: 2.5vmax;
              bottom: 2.5vmax;
              width: calc(100% - 5vmax);
              padding-top: 1vmax;
              padding-bottom: 1vmax;
              

              display: column;
              flex-direction: row;
              justify-content: center;
              transition: pointer-events 0s linear 0.5s, opacity 0.3s ease 0.5s;

              h1 {
                     position: relative;
                     box-shadow: 0px 0px 0px -1px black;
                     font-size: 3.7vmax;
                     padding: 0.25vmax 0vmax 0.25vmax 3vmax;
                     width: 100%;
                     cursor: pointer;
                     margin-left: 0vmax;
                     transition: all 0.2s ease;
              }
       }
       .items2 {
              position: absolute;
              background: transparent;
              right: 2.5vmax;
              height: 5vmax;

              display: flex;
              flex-direction: row-reverse;
              gap: 0.5vmax;
              top: 2.5vmax;

              div {
                     position: relative;
                     background: var(--bgtrans);
                     box-shadow: 0px 0px 0px -1px black;
                     height: 100%;
                     aspect-ratio: 1;
                     cursor: pointer;
                     transition: all 0.2s ease;

                     img {
                            scale: 0.7;
                            height: 100%;
                     }

                     &:hover {
                            background: var(--pri2);
                            box-shadow: 0px 0.25vmax 0.75vmax 0px black;

                            img {
                                   filter: var(--imgfilter);
                            }
                     }
              }
       }
}

.mobileheaderswitch {
       position: fixed;
       background: rgba(0,0,0,0.5);
       height: 100%;
       width: 100%;
       top: 0px;
       left: 0px;

       z-index: 9999;
       transition: opacity 0.2s ease;
}