@media screen and (max-width: 1000px) {
       .header {
              display: none;
       }
       .mobileheader {
              display: auto;
       }
       body {
              background: var(--mbg);
       }
       * {
              border-radius: 3vmax;
       }
}

@media screen and (min-width: 1001px) {
       .header {
              display: auto;
       }
       .mobileheader {
              display: none;
       }
       body {
              background: var(--bg);
       }
       * {
              border-radius: 0.5vmax;
       }
}