#hero.desktop {
    position: relative;
    background: var(--bg2);
    width: calc(100% - 100px);
    height: calc(100svh - 150px);
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h1 {
        position: relative;
        padding: 50px;
        line-height: 5vmax;
        font-size: 5vmax;
        width: 30vmax;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .pf {
            align-self: flex-end;
        }
        .decorgridsparkle {
            color: var(--pri)
        }
    }
    .herobackground {
        position: absolute;
        height: 150%;
        width: 150%;
        opacity: 0.4;
        object-fit: cover;
        z-index: 1;

        animation: heroimg 15s infinite ease-in-out;
    }
    .char {
        position: absolute;
        height: 15vmax;
        aspect-ratio: 1;
        opacity: 0.6;
        z-index: 2;
        bottom: 1vmax;
        left: 1vmax;
    }
}
#sec2.desktop {
    position: relative;
    background: transparent;
    width: calc(100% - 100px);
    padding: 100px 0px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h1 {
        color: var(--pri);
        position: relative;
        padding: 10px;
        font-size: 70px;
        z-index: 2;
    }
    h2 {

    }
    .grid {
        position: relative;
        background: transparent;
        margin-top: 50px;

        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 600px);
        grid-template-rows: repeat(2, 200px);

        div {
            position: relative;
            background: var(--bg2);
            cursor: pointer;

            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 40px;
                margin-left: 20px;
            }
            h2 {
                margin-left: 30px;
                max-width: 90%;
                opacity: 0.8;
            }
        }
    }
}











@keyframes heroimg {
    from {
        translate: 0% 0%;
    }
    50% {
        translate: 3% 3%;
    }
    to {
        translate: 0% 0%;
    }
}