#hero.desktop {
    position: relative;
    background: var(--bg2);
    width: calc(100% - 100px);
    height: calc(100svh - 150px);
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .expand {
        position: absolute;
        background: var(--bgtrans);
        border-radius: 50vmax;
        padding: 10px;
        bottom: 1vmax;
        right: 1vmax;
        cursor: pointer;
        z-index: 2;
        transition: 0.3s ease;

        &:hover {
            scale: 1.2;
            span {
                color: var(--pri);
            }
        }

        span {
            font-size: 50px;
            translate: 0% 10%;
            pointer-events: none;
            transition: 0.3s ease;
        }
    }

    h1 {
        position: relative;
        padding: 50px;
        line-height: 5vmax;
        font-size: 5vmax;
        width: 30vmax;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .pf {
            align-self: flex-end;
        }
        .decorgridsparkle {
            color: var(--pri)
        }
    }
    .herobackground {
        position: absolute;
        height: 150%;
        width: 150%;
        opacity: 0.4;
        object-fit: cover;
        z-index: 1;

        animation: heroimg 15s infinite ease-in-out;

        &.one {
           opacity: 0.4; 
           animation: heroimg1 15s infinite ease-in-out;
           filter: blur(0.25vmax);
        }
        &.two {
            opacity: 0.2; 
            animation: heroimg2 15s infinite ease-in-out;
            filter: blur(1vmax);
         }
    }
    .char {
        position: absolute;
        height: 15vmax;
        aspect-ratio: 1;
        opacity: 0.6;
        z-index: 2;
        bottom: 1vmax;
        left: 1vmax;
    }
}
#hero.mobile {
    position: relative;
    background: var(--bg2);
    width: calc(100% - 30px);
    height: calc(100svh - 150px);
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .expand {
        position: absolute;
        background: var(--bgtrans);
        border-radius: 50vmax;
        padding: 10px;
        bottom: 1vmax;
        right: 1vmax;
        cursor: pointer;
        z-index: 2;
        transition: 0.3s ease;

        &:hover {
            scale: 1.2;
            span {
                color: var(--pri);
            }
        }

        span {
            font-size: 50px;
            translate: 0% 10%;
            pointer-events: none;
            transition: 0.3s ease;
        }
    }

    h1 {
        position: relative;
        padding: 50px;
        line-height: 5vmax;
        font-size: 5vmax;
        width: 30vmax;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .pf {
            align-self: flex-end;
        }
        .decorgridsparkle {
            color: var(--pri)
        }
    }
    .herobackground {
        position: absolute;
        height: 150%;
        width: 150%;
        opacity: 0.4;
        object-fit: cover;
        z-index: 1;

        animation: heroimg 15s infinite ease-in-out;

        &.one {
           opacity: 0.4; 
           animation: heroimg1 15s infinite ease-in-out;
           filter: blur(0.25vmax);
        }
        &.two {
            opacity: 0.2; 
            animation: heroimg2 15s infinite ease-in-out;
            filter: blur(1vmax);
         }
    }
    .char {
        position: absolute;
        height: 15vmax;
        aspect-ratio: 1;
        opacity: 0.6;
        z-index: 2;
        bottom: 1vmax;
        left: 1vmax;
    }
}
#sec2.desktop {
    .sigma {
        position: relative;
        background: transparent;
        margin-top: 50px;

        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 750px);
        grid-template-rows: repeat(1, 400px);

        .item {
            position: relative;
            background: var(--bg2);
            cursor: pointer;
            overflow: hidden;

            &:hover {
                img {
                    opacity: 1;
                    scale: 1;
                }
            }
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0.5;
                scale: 1.05;
                object-fit: fill;
                transition: 0.3s ease;
            }
            div {
                position: absolute;
                background: var(--bg2);
                padding: 15px 0px;
                width: calc(100% - 20px);
                left: 50%;
                translate: -50% 0%;
                bottom: 10px;
                overflow: active;

                .nodisplay {
                    display: none;
                }
                h1 {
                    padding: 0;
                    font-size: 35px;
                    color: var(--pri);
                }
                h2 {
                    font-size: 15px;
                    text-align: left;
                }
                h3 {
                    position: absolute;
                    top: 0%;
                    background: var(--pri);
                    color: black;
                    right: 20px;
                    padding: 2px 10px;
                    translate: 0% -50%;
                }
                h1,h2 {
                    margin-left: 20px;
                }
            }
        }
    }
}
#sec2.mobile {
    .sigma {
        position: relative;
        background: transparent;
        margin-top: 50px;

        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 750px);
        grid-template-rows: repeat(2, 400px);

        .item {
            position: relative;
            background: var(--bg2);
            cursor: pointer;
            overflow: hidden;

            &:hover {
                img {
                    opacity: 1;
                    scale: 1;
                }
            }
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0.5;
                scale: 1.05;
                object-fit: fill;
                transition: 0.3s ease;
            }
            div {
                position: absolute;
                background: var(--bg2);
                padding: 15px 0px;
                width: calc(100% - 20px);
                left: 50%;
                translate: -50% 0%;
                bottom: 10px;
                overflow: active;

                .nodisplay {
                    display: none;
                }
                h1 {
                    padding: 0;
                    font-size: 35px;
                    color: var(--pri);
                }
                h2 {
                    font-size: 15px;
                    text-align: left;
                }
                h3 {
                    position: absolute;
                    top: 0%;
                    background: var(--pri);
                    color: black;
                    right: 20px;
                    padding: 2px 10px;
                    translate: 0% -50%;
                }
                h1,h2 {
                    margin-left: 20px;
                }
            }
        }
    }
}
#sec3.desktop {
    .sigma {
        position: relative;
        background: transparent;
        max-width: 90%;
        margin-top: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(1, 300px);

        div {
            position: relative;
            background: var(--bg2);
            height: 120px;
            padding: 15px 30px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 50px;

            .text {
                background: transparent;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                gap: 0px;

                h1 {
                    color: var(--pri);
                }
                h2 {
                    font-size: 20px;
                }
            }
        }
        .activity {
            .misc {
                position: relative;
                background: transparent;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: row;
                gap: 5px;

                .max, .min {
                    position: absolute;
                    background: var(--txt);
                    padding: 0;
                    opacity: 0.2;
                    width: 100%;
                    height: 2px !important;
                    z-index: 1;
                }
                .max {
                    top: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .min {
                    bottom: 0px;
                }

                div {
                    background: var(--pri);
                    padding: 0;
                    width: 25px;
                    height: 50% !important;
                    border-radius: 5px !important;
                    overflow: hidden;
                    display: inline;

                    &:nth-child(1) {
                        height: 10% !important;
                    }
                    &:nth-child(2) {
                        height: 5% !important;
                    }
                    &:nth-child(3) {
                        height: 10% !important;
                    }
                    &:nth-child(4) {
                        height: 13% !important;
                    }
                    &:nth-child(5) {
                        height: 17% !important;
                    }
                    &:nth-child(6) {
                        height: 6% !important;
                    }

                    h1 {
                        position: absolute;
                        text-align: left;
                        top: 10px;
                        font-size: 15px;
                        writing-mode: tb-rl;
                    }
                }
            }
        }
        .count {
            .misc {
                position: relative;
                background: transparent;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 5px;

                h1 {
                    color: var(--pri);
                    font-size: 60px;

                    span {
                        font-size: 30px;
                    }
                    .slash {
                        color: var(--txt);
                        opacity: 0.5;
                        padding: 5px;
                    }
                    .total {
                        color: var(--txt);
                    }
                }
            }
        }
        .server {
            .misc {
                position: relative;
                background: transparent;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 5px;

                h1 {
                    color: var(--pri);
                    font-size: 60px;

                    span {
                        font-size: 30px;
                    }
                    .slash {
                        color: var(--txt);
                        opacity: 0.5;
                        padding: 5px;
                    }
                    .total {
                        color: var(--txt);
                    }
                }
            }
        }
    }
}

.section {
    position: relative;
    background: transparent;
    width: calc(100% - 25px);
    padding: 100px 0px;
    margin-top: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    .title {
        background: linear-gradient(0deg, var(--pri2), transparent 100%);
        color: var(--pri);
        position: relative;
        padding: 5px 50px;
        font-size: 70px;
        z-index: 2;
    }
    h2 {
        text-align: center;
    }
}











@keyframes heroimg {
    from {
        translate: 0% 0%;
    }
    50% {
        translate: 5% 5%;
    }
    to {
        translate: 0% 0%;
    }
}
@keyframes heroimg1 {
    from {
        translate: 0% 0%;
    }
    50% {
        translate: 2% 2%;
    }
    to {
        translate: 0% 0%;
    }
}
@keyframes heroimg2 {
    from {
        translate: 0% 0%;
    }
    50% {
        translate: 0.5% 0.5%;
    }
    to {
        translate: 0% 0%;
    }
}