#hero.desktop {
    position: relative;
    background: var(--bg2);
    width: calc(100% - 100px);
    height: calc(100svh - 150px);
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .expand {
        position: absolute;
        background: var(--bgtrans);
        border-radius: 50vmax;
        padding: 10px;
        bottom: 1vmax;
        right: 1vmax;
        cursor: pointer;
        z-index: 2;
        transition: 0.3s ease;

        &:hover {
            scale: 1.2;
            span {
                color: var(--pri);
            }
        }

        span {
            font-size: 50px;
            translate: 0% 10%;
            pointer-events: none;
            transition: 0.3s ease;
        }
    }

    h1 {
        position: relative;
        padding: 50px;
        line-height: 5vmax;
        font-size: 5vmax;
        width: 30vmax;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .pf {
            align-self: flex-end;
        }
        .decorgridsparkle {
            color: var(--pri)
        }
    }
    .herobackground {
        position: absolute;
        height: 150%;
        width: 150%;
        opacity: 0.4;
        object-fit: cover;
        z-index: 1;

        animation: heroimg 15s infinite ease-in-out;

        &.one {
           opacity: 0.4; 
           animation: heroimg1 15s infinite ease-in-out;
           filter: blur(0.25vmax);
        }
        &.two {
            opacity: 0.2; 
            animation: heroimg2 15s infinite ease-in-out;
            filter: blur(1vmax);
         }
    }
    .char {
        position: absolute;
        height: 15vmax;
        aspect-ratio: 1;
        opacity: 0.6;
        z-index: 2;
        bottom: 1vmax;
        left: 1vmax;
    }
}
#sec2.desktop {
    position: relative;
    background: transparent;
    width: calc(100% - 100px);
    padding: 100px 0px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h1 {
        color: var(--pri);
        position: relative;
        padding: 10px;
        font-size: 70px;
        z-index: 2;
    }
    h2 {

    }
    .grid {
        position: relative;
        background: transparent;
        margin-top: 50px;

        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 600px);
        grid-template-rows: repeat(2, 200px);

        div {
            position: relative;
            background: var(--bg2);
            cursor: pointer;

            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:hover {
                h3 {
                    opacity: 0.5;
                    translate: 0% 0%;
                }
                div {
                    width: 100%;
                    opacity: 1;
                }
            }
            div {
                position: absolute;
                background: var(--pri);
                height: 5px;
                opacity: 0.3;
                width: 25%;
                bottom: 0px;
                align-self: center;
                transition: 0.3s ease;
            }

            h1 {
                font-size: 40px;
                margin-left: 20px;
            }
            h2 {
                margin-left: 30px;
                font-size: 20px;
                max-width: 90%;
                opacity: 0.8;
            }
            h3 {
                position: absolute;
                margin-left: 30px;
                padding: 5px 40px 5px 10px;
                opacity: 1;
                bottom: 10px;
                right: 10px;
                opacity: 0;
                translate: 0% 25%;
                transition: 0.3s ease;

                span {
                    position: absolute;
                    margin-bottom: -100px;
                    margin-left: 10px;
                }
            }
        }
    }
}
#sec3.desktop {
    position: relative;
    background: black;
    width: calc(100% - 100px);
    padding: 100px 0px;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}











@keyframes heroimg {
    from {
        translate: 0% 0%;
    }
    50% {
        translate: 5% 5%;
    }
    to {
        translate: 0% 0%;
    }
}
@keyframes heroimg1 {
    from {
        translate: 0% 0%;
    }
    50% {
        translate: 2% 2%;
    }
    to {
        translate: 0% 0%;
    }
}
@keyframes heroimg2 {
    from {
        translate: 0% 0%;
    }
    50% {
        translate: 0.5% 0.5%;
    }
    to {
        translate: 0% 0%;
    }
}